
<h1>Motivos</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Estatus</th>
      <th>Tipo motivo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @motivos.each do |motivo| %>
      <tr>
        <td><%= motivo.descripcion %></td>
        <td><%= motivo.estatus %></td>
        <td><%= motivo.tipo_motivo %></td>
        <td><%= link_to 'Show', motivo %></td>
        <td><%= link_to 'Edit', edit_motivo_path(motivo) %></td>
        <td><%= link_to 'Destroy', motivo, method: :delete, data: { confirm: '¿Está seguro que desea eliminar el motivo?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Motivo', new_motivo_path %>
