

<h1>Universidades</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Estatus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @universidades.each do |universidad| %>
      <tr>
        <td><%= universidad.descripcion %></td>
        <td><%= universidad.estatus %></td>
        <td><%= link_to 'Show', universidad %></td>
        <td><%= link_to 'Edit', edit_universidad_path(universidad) %></td>
        <td><%= link_to 'Destroy', universidad, method: :delete, data: { confirm: '¿Está seguro que desea eliminar la universidad?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Universidad', new_universidad_path %>
