<%= form_for(criterio_tipo_servicio) do |f| %>

  <div class="field">
    <%= f.label :criterio_id %>
    <%= f.text_field :criterio_id %>
  </div>

  <div class="field">
    <%= f.label :tipo_servici_id %>
    <%= f.text_field :tipo_servici_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
