<%= form_for(criterio_tipo_servicio) do |f| %>
  <% if criterio_tipo_servicio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(criterio_tipo_servicio.errors.count, "error") %> prohibited this criterio_tipo_servicio from being saved:</h2>

      <ul>
      <% criterio_tipo_servicio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :criterio_id %>
    <%= f.text_field :criterio_id %>
  </div>

  <div class="field">
    <%= f.label :tipo_servici_id %>
    <%= f.text_field :tipo_servici_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
