<%= csrf_meta_tag %>
<p id="notice"><%= notice %></p>

<div class="ibox-content">
<%= link_to @parametros.new.class.name, new_polymorphic_url(@parametros.new), :class => "btn btn-primary btn-sm fa fa-plus" %>
 <br><br> 
 <table class="footable table table-stripped" data-sorting="true" data-filtering="true">
    <thead>
      <tr>
<<<<<<< HEAD
        <th data-breakpoints="xs" data-type="number">Codigo</th>
        <th>Nombre</th>
        <th data-breakpoints="xs">Tipo</th>
        <th>Estatus</th>
=======
        <th data-breakpoints="xs" data-sorted="true">Tipo</th>
        <th>Descripcion</th>
>>>>>>> 46d78a09a6d73b42ea989e8ff32ab2bd3293e157
        <th colspan="1"></th>
      </tr>
    </thead>
    <tbody>
      <% @parametros.each do |parametro| %>
          <tr>
<<<<<<< HEAD
            <td><%= parametro.id %></td>
            <td><%= link_to parametro.descripcion, polymorphic_url(parametro) %></td>
            <td><%= parametro.tipo.descripcion %></td>
            <td><%= parametro.estatus %></td>
=======
            <td><%= parametro.tipo.descripcion %></td>
            <td><%= link_to parametro.descripcion, edit_polymorphic_url(parametro) %></td>
>>>>>>> 46d78a09a6d73b42ea989e8ff32ab2bd3293e157
            <td>
              <%= link_to '', edit_polymorphic_url(parametro), :class => "btn btn-warning btn-sm fa fa-pencil" %>
              <%= link_to '', polymorphic_url(parametro), :method => :delete, data: { confirm: '¿Estás seguro?' } , :class => "btn btn-danger btn-sm fa fa-trash" %></td>
          </tr>
      <% end %>
    </tbody>
      <tfoot>
                    <tr>
                        <td colspan="5">
                            <ul class="pagination pull-right"></ul>
                        </td>
                    </tr>
                    </tfoot>
  </table>
</div>
<br>


<script type="text/javascript">
<<<<<<< HEAD
$(document).ready(function(){
$('.table').footable();
});
=======
  $(document).ready(function(){
    $('.table').footable();
  });
>>>>>>> 46d78a09a6d73b42ea989e8ff32ab2bd3293e157

</script>


