<%= csrf_meta_tag %>
<div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h2 class="parametros-titulo"><%= "Servicios" %></h2>
              </div>
          </div>
<div class="ibox-content">
<%= link_to 'Registrar', new_servicio_path, :class => "btn btn-primary btn-sm" %>
 <br><br> 
 <table class="footable table table-stripped" data-sorting="true" data-filtering="true">
    <thead>

      <tr>
        <th data-sorted="true">Tipo de Servicio</th>
        <th>Descripcion</th>
        <th>Especialista</th>

        <th colspan="1"></th>
        <th colspan="1"></th>

      </tr>
    </thead>
    <tbody>
      <% @servicios.each do |servicio| %>
          <tr>
            <td><%= servicio.tipo_servicio.descripcion %></td>
            <td><%= servicio.descripcion %></td>
            <% if(!servicio.especialista.nil?) %>
              <td><%= servicio.especialista.nombre %></td>
            <%else %>
            <td></td>
            <% end %>


            <td>
              <%= link_to 'Editar', edit_servicio_path(servicio), :class => "btn btn-warning btn-sm" %></td>
            <td>  <%= link_to 'Eliminar', servicio, :method => :delete, data: { confirm: '¿Está seguro que desea eliminar el registro?' } , :class => "btn btn-danger btn-sm" %></td>
          </tr>
      <% end %>
    </tbody>
      <tfoot>
      <tr>
          <td colspan="5">
              <ul class="pagination pull-right"></ul>
          </td>
      </tr>
      </tfoot>
  </table>
</div>
<br>


<script type="text/javascript">
$(document).ready(function(){
$('.table').footable();
});
</script>
