<div class="row">   
   <div class="col-lg-10 col-lg-offset-1">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h2 class="parametros-titulo"><%= "Tipo de Servicio" %></h2>
              </div>
          </div>
          <div class="ibox-content">

          <%= form_for @tipo_servicio, :html => {:class => 'form-horizontal', :multipart => true } do |f| %>
                  <% if @tipo_servicio.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@tipo_servicio.errors.count, "error") %> prohibited this parametro from being saved:</h2>

                      <ul>
                      <% @tipo_servicio.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>

              <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#datos">Datos basicos</a></li>
                <li><a data-toggle="tab" href="#texto">Texto</a></li>
                <li><a data-toggle="tab" href="#perfiles">Perfiles</a></li>
                <li><a data-toggle="tab" href="#criterios">Criterios de Evaluacion</a></li>
              </ul>

              <div class="tab-content">

                <div id="datos" class="tab-pane fade in active">
                  <br>
                  <div class="field form-group">
                    <label class="col-lg-2 control-label">Tipo de Atencion</label>
                    <div class="col-lg-10">
                      <%= f.collection_select(:tipo_atencion_id, @tipos_atencion, :id, :descripcion, {},{:class => "form-control"}) %>
                    </div>
                    
                  </div>

                  <div class="field form-group">
                    <label class="col-lg-2 control-label">Categoria</label>
                    <div class="col-lg-10">
                      <%= f.collection_select(:categoria_id, @categorias, :id, :descripcion, {},{:class => "form-control"}) %>
                    </div>
                    
                  </div>

                  <div class="field form-group">
                    <label class="col-lg-2 control-label">Especialidad</label>
                    <div class="col-lg-10">
                      <%= f.collection_select(:especialidad_id, @especialidades, :id, :descripcion, {},{:class => "form-control"}) %>
                    </div>
                    
                  </div> 

                  <div class="form-group">
                      <label class="col-lg-2 control-label">Nombre</label>

                      <div class="col-lg-10"><%= f.text_field :descripcion, :class => "form-control" %>
                       </div>
                    </div>

                   <div class="form-group">
                      <label class="col-lg-2 control-label">Foto</label>

                      <div class="col-lg-10"><%= f.file_field :foto, :class => "form-control" %>
                       </div>
                    </div>
                </div>

                <div id="texto" class="tab-pane fade">
                  <br>
                  <div class="form-group">
                      <label class="col-lg-2 control-label">Texto</label>

                      <div class="col-lg-10"><%= f.text_area :texto, :class => "tinymce form-control" %>
                       </div>

                      <%= tinymce %>
                    </div>
                </div>

                <div id="perfiles" class="tab-pane fade">
                  <br>
                    <div class="container-fluid">
                      <% @perfiles.each do |perfil| %>
                        <div class="col-sm-3">
                            <%= check_box_tag('perfiles[]', perfil.id, @tipo_servicio.perfiles.include?(perfil)) %> <%= perfil.descripcion %>
                        </div>
                      <% end %>
                    </div>  
                </div>

                <div id="criterios" class="tab-pane fade">
                  <br>
                  <div class="container-fluid">
                        <% @criterios.each do |criterio| %>
                          <div class="col-sm-3">
                              <%= check_box_tag('criterios[]', criterio.id, @tipo_servicio.criterios.include?(criterio)) %> <%= criterio.descripcion %>
                          </div>
                        <% end %>
                      </div>
                  </div>


              </div>

          
              <div class="form-group">
                      <div class="col-lg-offset-3 col-lg-2">
                           <%= f.submit "Guardar", :class => "btn  btn-sm btn-primary" %>
                      </div>
                        <div class="col-lg-2">
                        <%= link_to 'Limpiar', '', type: :reset, :class => "btn btn-sm btn-warning " %>                          
                        </div>
                      <div class="col-lg-2">
                      <%= link_to 'Atras',tipo_servicios_path, :class => "btn btn-sm btn-success" %>                          
                      </div>
                  </div>
          <% end %>
          </div>
  </div>
</div>
