<%= csrf_meta_tag %>

<div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h2 class="parametros-titulo"><%= "Tipo de Servicio" %></h2>
              </div>
          </div>
<div class="ibox-content">
<%= link_to 'Registrar', new_tipo_servicio_path, :class => "btn btn-primary btn-sm" %>
 <br><br> 

 <table class="footable table table-stripped" data-sorting="true" data-filtering="true">
    <thead>
      <tr>
        <th data-sorted="true">Tipos de Atencion</th>
        <th data-breakpoints="xs">Categoria</th>
        <th data-breakpoints="xs">Especialidad</th>
        <th>Descripcion</th>
        <th colspan="1"></th>
      </tr>
    </thead>
    <tbody>
      <% @tipo_servicios.each do |tipoServicio| %>
          <tr>
            <td><%= tipoServicio.tipo_atencion.descripcion %></td>
            <td><%= tipoServicio.categoria.descripcion %></td>
            <td><%= tipoServicio.especialidad.descripcion %></td>          
            <td><%= link_to tipoServicio.descripcion, edit_tipo_servicio_path(tipoServicio) %></td>
            <td>
              <%= link_to 'Editar', edit_tipo_servicio_path(tipoServicio), :class => "btn btn-warning btn-sm " %>
              <%= link_to 'Eliminar', tipoServicio, :method => :delete, data: { confirm: '¿Estás seguro?' } , :class => "btn btn-danger btn-sm " %></td>
          </tr>
      <% end %>
    </tbody>
      <tfoot>
                    <tr>
                        <td colspan="5">
                            <ul class="pagination pull-right"></ul>
                        </td>
                    </tr>
                    </tfoot>
  </table>
</div>
<br>


<script type="text/javascript">
$(document).ready(function(){
$('.table').footable();
});

</script>


