<%= csrf_meta_tag %>

<div class="ibox-content">
<%= link_to @parametros.new.class.name, new_polymorphic_url(@parametros.new), :class => "btn btn-primary btn-sm fa fa-plus" %>
 <br><br>                 
 <table class="footable table table-stripped" data-sorting="true" data-filtering="true">
    <thead>
      <tr>
        <th data-breakpoints="xs" data-type="number">Descripción</th>
        <th>Estatusss</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @parametros.each do |parametro| %>
        <tr>
          <td><%= parametro.descripcion %></td>
          <td><%= parametro.estatus %></td>
          <td>
            <%= link_to '', edit_polymorphic_url(parametro), :class => "btn btn-warning btn-sm fa fa-pencil" %>
            <%= link_to '', parametro, :method => :delete, data: { confirm: '¿Está seguro que desea eliminar el tipo de ubicacion?' } , :class => "btn btn-danger btn-sm fa fa-trash" %>            
          </td>
        </tr>
      <% end %>
    </tbody>
      <tfoot>
        <tr>
            <td colspan="5">
                <ul class="pagination pull-right"></ul>
            </td>
        </tr>
      </tfoot>
  </table>
</div>
<br>


<script type="text/javascript">
$(document).ready(function(){
$('.table').footable();
});

</script>

