
<h1>Especialidades</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Estatus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @especialidades.each do |especialidad| %>
      <tr>
        <td><%= especialidad.descripcion %></td>
        <td><%= especialidad.estatus %></td>
        <td><%= link_to 'Show', especialidad %></td>
        <td><%= link_to 'Edit', edit_especialidad_path(especialidad) %></td>
        <td><%= link_to 'Destroy', especialidad, method: :delete, data: { confirm: '¿Está seguro que desea eliminar la especialidad?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Especialidad', new_especialidad_path %>
