<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Saludos <%= @cita.usuario.email %></h1>
    <p>
    <%= @texto %>
    </p>
    <p> Cita: <strong><%= @cita.id %></strong></p>
    <br>
    <p>Fecha: <strong><%= @cita.fecha.to_datetime.strftime("%d/%m/%Y %H:%M:%S%p") %></strong></p>
    <br>
    <p>Servicio: <strong><%= @cita.turno.horario.servicio.descripcion %></strong></p>
  </body>
</html>
