<%= csrf_meta_tag %>
<p id="notice"><%= notice %></p>
<div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h2 class="parametros-titulo"><%= "Difusiones" %></h2>
              </div>
          </div>
<div class="ibox-content">
<%= link_to '', new_difusion_path, :class => "btn btn-primary btn-sm fa fa-plus" %>
 <br><br> 

 <table class="footable table table-stripped" data-sorting="true" data-filtering="true">
    <thead>
      <tr>
        <th data-sorted="true">Tipo</th>
        <th data-breakpoints="xs">Asunto</th>
        <th data-breakpoints="xs">Entidad</th>
      </tr>
    </thead>
    <tbody>
      <% @difusiones.each do |difusion| %>
          <tr>
            <td><%= difusion.tipo_difusion.descripcion %></td>
            <td><%= link_to difusion.asunto, polymorphic_url(difusion) %></td>
            <td><%= difusion.entidad.nombre %></td>            
          </tr>
      <% end %>
    </tbody>
      <tfoot>
        <tr>
            <td colspan="5">
                <ul class="pagination pull-right"></ul>
            </td>
        </tr>
      </tfoot>
  </table>
</div>
<br>


<script type="text/javascript">
$(document).ready(function(){
$('.table').footable();
});

</script>
