<p id="notice"><%= notice %></p>

<h1>Opiniones</h1>

<table>
  <thead>
    <tr>
      <th>Correo</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Tipo opinion</th>
      <th>Estatus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @opiniones.each do |opinion| %>
      <tr>
        <td><%= opinion.correo %></td>
        <td><%= opinion.nombre %></td>
        <td><%= opinion.descripcion %></td>
        <td><%= opinion.tipo_opinion %></td>
        <td><%= opinion.estatus %></td>
        <td><%= link_to 'Show', opinion %></td>
        <td><%= link_to 'Edit', edit_opinion_path(opinion) %></td>
        <td><%= link_to 'Destroy', opinion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Opinion', new_opinion_path %>
