<%= form_for(servicio_evento) do |f| %>

  <div class="field">
    <%= f.label :descripcion %>
    <%= f.text_field :descripcion, :required => true %>
  </div>

  <div class="field">
    <%= f.label :estatus %>
    <%= f.number_field :estatus %>
  </div>

  <div class="field">
    <%= f.label :servicio_id %>
    <%= f.text_field :servicio_id %>
  </div>

  <div class="field">
    <%= f.label :evento_id %>
    <%= f.text_field :evento_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
