<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2 class="text-dark-blue"><strong><%= @rango_edad.class.titulo %></strong></h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= url_for :controller => 'home', :action => 'index' %>">Inicio</a>
      </li>
      <li>
        <a href="/<%= @rango_edad.class.name.underscore.pluralize %>">Listado</a>
      </li>
      <li class="active">
        <% if @rango_edad.new_record? %>
          <strong class="text-blue">Registrar <%= @rango_edad.class.titulo %></strong>
        <% else %>
          <strong class="text-blue">Editar <%= @rango_edad.class.titulo %></strong>
        <% end %>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content">
  <div class="row">   
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h4 class="text-dark-blue"><strong><%= @rango_edad.class.titulo %></strong></h4>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-sm-12">
              <%= form_for @rango_edad, :html => {:class => '', :id => 'form-rango'}, :form_to_validate => @rango_edad.class, role: 'form' do |f| %>

                  <div class="form-group">
                    <label class="control-label">Descripcion <label for="<%= @rango_edad.class.name.underscore %>_descripcion" class="control-label error" style="margin-bottom: 0px;"></label></label>
                    <%= f.text_field :descripcion,:required => true, :class => "form-control" %>
                  </div>

                  <div class="form-group">
                    <label class="control-label">Edad Inicial <label for="<%= @rango_edad.class.name.underscore %>_edad_inicial" class="control-label error" style="margin-bottom: 0px;"></label></label>
                    <%= f.number_field :edad_inicial,:required => true, :class => "form-control" %>
                  </div>

                  <div class="form-group">
                    <label class="control-label">Edad Final <label for="<%= @rango_edad.class.name.underscore %>_edad_final" class="control-label error" style="margin-bottom: 0px;"></label></label>
                    <%= f.number_field :edad_final,:required => true, :class => "form-control" %>
                  </div>                  

                    <div class="form-group">
                      <div class="col-lg-offset-3 col-lg-2">
                           <%= f.submit "Guardar", :class => "btn btn-sm btn-primary" %>
                      </div>
                      <% if @rango_edad.new_record? %>
                        <div class="col-lg-2">
                        <%= link_to 'Limpiar', '', type: :reset, :class => "btn btn-sm btn-warning " %>
                        </div>
                      <% end %>
                      <div class="col-lg-2">
                      <%= link_to 'Atras',rango_edades_path, :class => "btn btn-sm btn-success" %>                          
                      </div>
                  </div>

              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>

<% content_for :javascript do %>

<script type="text/javascript">

  jQuery.validator.addMethod("rango_valido", function(value, element) {

      return rango_valido(value, $('input[name="rango_edad[edad_final]"]').val());
  }, "Rango inválido ");

  $('#form-rango').validate({
      rules: {
        'rango_edad[edad_inicial]': { required: true,
                                valor_negativo: true,
                                rango_valido: true
                              },
        'rango_edad[edad_final]' :{  required: true,
                                valor_negativo: true,
                                rango_valido: true
                            }
      }
  });


</script>

<% end %>
