<%= csrf_meta_tag %>
<p id="notice"><%= notice %></p>
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h2 class="parametros-titulo"><%= @rango_edades.new.class.titulo %></h2>
    </div>
</div>
<div class="ibox-content">
<%= link_to "Registrar", new_polymorphic_url(@rango_edades.new), :class => "btn btn-primary btn-sm"%>

 <table class="footable table table-stripped" data-sorting="true" data-filtering="true">
    <thead>
      <tr>
        <th data-sorted="true">Descripción</th>
        <th>Edad inicial</th>
        <th>Edad final</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @rango_edades.each do |rango_edad| %>
        <tr>
          <td><%= link_to rango_edad.descripcion, edit_polymorphic_url(rango_edad) %></td>
          <td><%= rango_edad.edad_inicial %></td>
          <td><%= rango_edad.edad_final %></td>
          <td>
            <%= link_to 'Editar', edit_polymorphic_url(rango_edad), :class => "btn btn-warning btn-sm" %>
            <%= link_to 'Eliminar', polymorphic_url(rango_edad), :method => :delete, data: { confirm: '¿Estás seguro?' } , :class => "btn btn-danger btn-sm" %>
          </td>
        </tr>
      <% end %>
    </tbody>
      <tfoot>
        <tr>
            <td colspan="5">
                <ul class="pagination pull-right"></ul>
            </td>
        </tr>
      </tfoot>
  </table>
</div>
<br>


<script type="text/javascript">
$(document).ready(function(){
$('.table').footable();
});

</script>