<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @tipo_parentesco.descripcion %>
</p>

<p>
  <strong>Estatus:</strong>
  <%= @tipo_parentesco.estatus %>
</p>

<%= link_to 'Edit', edit_tipo_parentesco_path(@tipo_parentesco) %> |
<%= link_to 'Back', tipo_parentescos_path %>
