<%= csrf_meta_tag %>
<p id="notice"><%= notice %></p>

<div class="ibox-content">
<%= link_to @parametros.new.class.name, new_polymorphic_url(@parametros.new), :class => "btn btn-primary btn-sm fa fa-plus" %>
 <br><br> 
                 <!--<input type="text" class="form-control input-sm m-b-xs" id="filter"
                       placeholder="Search in table">-->
 <table class="footable table table-stripped" data-sorting="true" data-filtering="true">
    <thead>
      <tr>
        <th>Descripción</th>
        <th>Estatus</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @parametros.each do |parametro| %>
        <tr>

          <td><%= parametro.descripcion %></td>
          <td><%= parametro.estatus %></td>
          <td>
            <%= link_to '', polymorphic_url(parametro), :class => "btn btn-info btn-sm fa fa-eye" %>
            <%= link_to '', edit_polymorphic_url(parametro), :class => "btn btn-warning btn-sm fa fa-pencil" %>
            <%= link_to '', polymorphic_url(parametro), :method => :delete, data: { confirm: '¿Estás seguro?' } , :class => "btn btn-danger btn-sm fa fa-trash" %>
              

          <td><%= link_to parametro.descripcion, edit_polymorphic_url(parametro) %></td>
          <td>
            <%= link_to '', edit_polymorphic_url(parametro), :class => "btn btn-warning btn-sm fa fa-pencil" %>
            <%= link_to '', polymorphic_url(parametro), :method => :delete, data: { confirm: '¿Estás seguro?' } , :class => "btn btn-danger btn-sm fa fa-trash" %>

          </td>
        </tr>
      <% end %>
    </tbody>
      <tfoot>
        <tr>
            <td colspan="5">
                <ul class="pagination pull-right"></ul>
            </td>
        </tr>
      </tfoot>
  </table>
</div>
<br>


<script type="text/javascript">
$(document).ready(function(){
$('.table').footable();
});

</script>

