<%= csrf_meta_tag %>
<p id="notice"><%= notice %></p>

<div class="ibox-content">
<%= link_to @parametros.new.class.name, new_polymorphic_url(@parametros.new), :class => "btn btn-primary btn-sm fa fa-plus" %>
 <br><br> 
                 <input type="text" class="form-control input-sm m-b-xs" id="filter"
                       placeholder="Search in table">
 <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="2">
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Estatus</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @parametros.each do |parametro| %>
        <tr>
          <td><%= parametro.id %></td>
          <td><%= parametro.descripcion %></td>
          <td><%= parametro.estatus %></td>
          <td><%= link_to '', polymorphic_url(parametro), :class => "btn btn-info btn-sm fa fa-eye" %></td>
          <td><%= link_to '', edit_polymorphic_url(parametro), :class => "btn btn-warning btn-sm fa fa-pencil" %></td>
          <td><%= link_to '', polymorphic_url(parametro), :method => :delete, data: { confirm: '¿Estás seguro?' } , :class => "btn btn-danger btn-sm fa fa-trash" %></td>
        </tr>
      <% end %>
    </tbody>
      <tfoot>
                    <tr>
                        <td colspan="5">
                            <ul class="pagination pull-right"></ul>
                        </td>
                    </tr>
                    </tfoot>
  </table>
</div>
<br>


<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    $('.footable').footable();
    $('.footable2').footable();


});

</script>

<% end %>

