<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @parametro.descripcion %>
</p>

<p>
  <strong>Estatus:</strong>
  <%= @parametro.estatus %>
</p>

<%= link_to 'Editar', edit_polymorphic_url(@parametro) %> |
<%= link_to 'Atras', polymorphic_url(@parametro.class) %>
