

<%= csrf_meta_tag %>
<p id="notice"><%= notice %></p>

<div class="ibox-content">
<%= link_to link_to 'Registrar', new_horario_path , :class => "btn btn-primary btn-sm" %>
 <br><br> 
 <table class="footable table table-stripped" data-sorting="true" data-filtering="true">
    <thead>
      <tr>
        <th>Tipo Horario</th>
        <th>Servicio</th>
        
        <th colspan="1"></th>
      </tr>
    </thead>
    <tbody>
      <% @horarios.each do |horario| %>
          <tr>
        <td><%= horario.tipo_horario.descripcion %></td>
        <td><%= horario.servicio.descripcion%></td>
            <td>
             <%= link_to 'Editar', edit_polymorphic_url(horario), :class => "btn btn-warning btn-sm" %>
             <%= link_to 'Eliminar', horario, :method => :delete, data: { confirm: '¿Estás seguro?' } , :class => "btn btn-danger btn-sm" %></td>
          </tr>
      <% end %>
    </tbody>
      <tfoot>
                    <tr>
                        <td colspan="5">
                            <ul class="pagination pull-right"></ul>
                        </td>
                    </tr>
                    </tfoot>
  </table>
</div>
<br>


<script type="text/javascript">
$(document).ready(function(){
$('.table').footable();
});

</script>

