<p id="notice"><%= notice %></p>

<p>
  <strong>Horario:</strong>
  <%= @horario.descripcion %>
</p>
<p>
  <strong>Limite de personas/tiempo promedio:</strong>
  <%= @horario.limite_horario %>
</p>

<p>
  <strong>Tipo horario:</strong>
  <%= @horario.tipo_horario.descripcion %>
</p>
<div class="ibox-content">

 <table >
  <thead>
    <tr>

             <% @dias.each do |dia| %>
      <th> <%=dia.descripcion%></th>
          <%end%>
     
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @turnos.each do |turno| %>
      <%if(turno.tipodia.descripcion== "LUNES")%>
       <tr>
        <td><%= turno.hora_inicio.strftime("%H:%M") %>
        <%= turno.hora_fin.strftime("%H:%M") %>
        <%=turno.horario.descripcion%>
        <%=turno.tipodia.descripcion%>
        <%=turno.descripcion%>
        </td>
        <%end%>
       <%if(turno.tipodia.descripcion== "MARTES")%>
      
        <td><%= turno.hora_inicio.strftime("%H:%M") %>
        <%= turno.hora_fin.strftime("%H:%M") %>
        <%=turno.horario.descripcion%>
        <%=turno.tipodia.descripcion%>
        <%=turno.descripcion%>
        </td>
        
      
        <%end%>
        <%if(turno.tipodia.descripcion== "MIERCOLES")%>
        <td><%= turno.hora_inicio.strftime("%H:%M") %>
        <%= turno.hora_fin.strftime("%H:%M") %>
        <%=turno.horario.descripcion%>
        <%=turno.descripcion%>
        <%=turno.tipodia.descripcion%></td>
        
         </tr>
        <%end%>
      
        
       
     
    <% end %>
  </tbody>
</table>

</div>

<%= link_to 'Edit', edit_horario_path(@horario) %> |
<%= link_to 'Back', horarios_path %>
