<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h2 class="parametros-titulo"><%= "Calificaciones por Especialidades" %></h2>
            </div>
        </div>
        <div class="ibox-content" style="padding-bottom: 15px">
            <div class="container-fluid">
                <div class="col-sm-12" style="padding-top: 15px">
                    <div class="col-sm-4">
                        <%= label_tag :id, "Tipo de turno: " %>
                        <h4>En la
                            <%= @tipo_turno.descripcion %>
                        </h4>
                    </div>
                    <div class="col-sm-4">
                        <%= label_tag :id, "Rango de fechas: " %>
                        <h4>Desde el
                            <%= @fecha_inicio.strftime("%d/%m/%Y") %>
                            hasta el
                            <%= @fecha_fin.strftime("%d/%m/%Y") %></h4>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="col-sm-12" style="padding-top: 15px">
                    <script src="https://code.highcharts.com/highcharts.js"></script>
                    <script src="https://code.highcharts.com/modules/exporting.js"></script>
                    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                </div>
                <script>
                    Highcharts.chart('container', {
                        title: {
                            text: ''
                        },
                        xAxis: {
                            categories: [<% @especialidades.each do |especialidad| %>
                                '<%= especialidad.descripcion %>', <% end %>]
                        },
                        labels: {
                            items: [
                                {
                                    html: 'Total de calificaciones',
                                    style: {
                                        left: '50px',
                                        top: '18px',
                                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                                    }
                                }
                            ]
                        },
                        series: [
                            {
                                type: 'column',
                                name: 'Muy mal',
                                data: [<% @especialidades.each do |especialidad| %>
                                    <%= Calificacion.contarCalificacionesPorEspecialidad(@tipo_turno.id, especialidad.id, 1, @fecha_inicio, @fecha_fin) %>, <% end %>]
                            }, {
                                type: 'column',
                                name: 'Mal',
                                data: [<% @especialidades.each do |especialidad| %>
                                    <%= Calificacion.contarCalificacionesPorEspecialidad(@tipo_turno.id, especialidad.id, 2, @fecha_inicio, @fecha_fin) %>, <% end %>]
                            }, {
                                type: 'column',
                                name: 'Regular',
                                data: [<% @especialidades.each do |especialidad| %>
                                    <%= Calificacion.contarCalificacionesPorEspecialidad(@tipo_turno.id, especialidad.id, 3, @fecha_inicio, @fecha_fin) %>, <% end %>]
                            }, {
                                type: 'column',
                                name: 'Bueno',
                                data: [<% @especialidades.each do |especialidad| %>
                                    <%= Calificacion.contarCalificacionesPorEspecialidad(@tipo_turno.id, especialidad.id, 4, @fecha_inicio, @fecha_fin) %>, <% end %>]
                            }, {
                                type: 'column',
                                name: 'Muy bueno',
                                data: [<% @especialidades.each do |especialidad| %>
                                    <%= Calificacion.contarCalificacionesPorEspecialidad(@tipo_turno.id, especialidad.id, 5, @fecha_inicio, @fecha_fin) %>, <% end %>]
                            }, {
                                type: 'spline',
                                name: 'Promedio',
                                data: [
                                    <% @especialidades.each do |especialidad| %>
                                    <%= Calificacion.promedioCalificacionesPorEspecialidad(@tipo_turno.id, especialidad.id, @fecha_inicio, @fecha_fin) %>, <% end %>
                                ],
                                marker: {
                                    lineWidth: 2,
                                    lineColor: Highcharts.getOptions().colors[3],
                                    fillColor: 'white'
                                }
                            }, {
                                type: 'pie',
                                name: 'Total calificaciones',
                                data: [
                                    {
                                        name: 'Muy mal',
                                        y: <%= Calificacion.totalCalificacionesTodasLasEspecialidades(@tipo_turno.id, 1, @fecha_inicio, @fecha_fin) %>,
                                        color: Highcharts.getOptions().colors[0]
                                    }, {
                                        name: 'Mal',
                                        y: <%= Calificacion.totalCalificacionesTodasLasEspecialidades(@tipo_turno.id, 2, @fecha_inicio, @fecha_fin) %>,
                                        color: Highcharts.getOptions().colors[1]
                                    }, {
                                        name: 'Regular',
                                        y: <%= Calificacion.totalCalificacionesTodasLasEspecialidades(@tipo_turno.id, 3, @fecha_inicio, @fecha_fin) %>,
                                        color: Highcharts.getOptions().colors[2]
                                    }, {
                                        name: 'Bueno',
                                        y: <%= Calificacion.totalCalificacionesTodasLasEspecialidades(@tipo_turno.id, 4, @fecha_inicio, @fecha_fin) %>,
                                        color: Highcharts.getOptions().colors[3]
                                    }, {
                                        name: 'Muy bueno',
                                        y: <%= Calificacion.totalCalificacionesTodasLasEspecialidades(@tipo_turno.id, 5, @fecha_inicio, @fecha_fin) %>,
                                        color: Highcharts.getOptions().colors[4]
                                    }
                                ],
                                center: [
                                    100, 80
                                ],
                                size: 100,
                                showInLegend: false,
                                dataLabels: {
                                    enabled: false
                                }
                            }
                        ]
                    });
                </script>
                <div class="col-sm-12" style="margin-top: 15px">
                  <h3>Tabla de resultados</h3>
                </div>
                <div class="col-sm-12" style="margin-top: 15px">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <td><strong>Especialidad</strong></td>
                            <td><strong>Muy mal</strong></td>
                            <td><strong>Mal</strong></td>
                            <td><strong>Regular</strong></td>
                            <td><strong>Bueno</strong></td>
                            <td><strong>Muy bueno</strong></td>
                          </tr>
                        </thead>
                        <tbody>
                            <% @especialidades.each do |especialidad| %>
                              <tr>
                                  <td><strong><%= especialidad.descripcion %></strong></td>
                                  <td><%= Calificacion.contarCalificacionesPorEspecialidad(@tipo_turno.id, especialidad.id, 1, @fecha_inicio, @fecha_fin) %></td>
                                  <td><%= Calificacion.contarCalificacionesPorEspecialidad(@tipo_turno.id, especialidad.id, 2, @fecha_inicio, @fecha_fin) %></td>
                                  <td><%= Calificacion.contarCalificacionesPorEspecialidad(@tipo_turno.id, especialidad.id, 3, @fecha_inicio, @fecha_fin) %></td>
                                  <td><%= Calificacion.contarCalificacionesPorEspecialidad(@tipo_turno.id, especialidad.id, 4, @fecha_inicio, @fecha_fin) %></td>
                                  <td><%= Calificacion.contarCalificacionesPorEspecialidad(@tipo_turno.id, especialidad.id, 5, @fecha_inicio, @fecha_fin) %></td>
                              </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
