<%= csrf_meta_tag %>
<br>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h2 class="parametros-titulo"><%= "Calificaciones por Criterio" %></h2>
            </div>
        </div>
        <div class="ibox-content" style="padding-bottom: 15px">
            <div class="container-fluid">
                <div class="col-sm-12" style="padding-top: 15px">
                    <div class="col-sm-4">
                        <%= label_tag :id, "Especialidad: " %>
                        <h4><%= @especialidad.descripcion %></h4>
                    </div>
                    <div class="col-sm-4">
                        <%= label_tag :id, "Tipo de turno: " %>
                        <h4><%= @tipo_turno.descripcion %></h4>
                    </div>
                    <div class="col-sm-4">
                        <%= label_tag :id, "Criterio: " %>
                        <h4><%= @criterio.descripcion %></h4>
                    </div>
                </div>
                <div class="col-sm-12" style="padding-top: 15px">
                    <div class="col-sm-4">
                        <%= label_tag :id, "Desde: " %>
                        <h4><%= @fecha_inicio.strftime("%d/%m/%Y") %></h4>
                    </div>
                    <div class="col-sm-4">
                        <%= label_tag :id, "Hasta: " %>
                        <h4><%= @fecha_fin.strftime("%d/%m/%Y") %></h4>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="col-sm-12" style="padding-top: 15px">

                    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                </div>
                <script>
                    Highcharts.chart('container', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: 'Promedio de calificaciones'
                        },
                        subtitle: {
                            text: ''
                        },
                        xAxis: {
                            categories: [
                                'Muy mal', 'Mal', 'Regular', 'Bueno', 'Muy bueno'
                            ],
                            crosshair: true
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: 'Porcentaje'
                            }
                        },
                        tooltip: {
                            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td><td style="padding:0"><b>{point.y:.1f} %</b></td></tr>',
                            footerFormat: '</table>',
                            shared: true,
                            useHTML: true
                        },
                        plotOptions: {
                            column: {
                                pointPadding: 0.2,
                                borderWidth: 0
                            }
                        },
                        series: [
                            {
                                name: 'Todas las Especialidades',
                                data: [ <%= Calificacion.promedioEspecialidades(@especialidad.id, 1, @tipo_turno.id, @fecha_inicio, @fecha_fin) %>,
                                        <%= Calificacion.promedioEspecialidades(@especialidad.id, 2,@tipo_turno.id, @fecha_inicio, @fecha_fin) %>,
                                        <%= Calificacion.promedioEspecialidades(@especialidad.id, 3, @tipo_turno.id, @fecha_inicio, @fecha_fin) %>,
                                        <%= Calificacion.promedioEspecialidades(@especialidad.id, 4, @tipo_turno.id, @fecha_inicio, @fecha_fin) %>,
                                        <%= Calificacion.promedioEspecialidades(@especialidad.id, 5, @tipo_turno.id, @fecha_inicio, @fecha_fin) %>]
                            }, {
                                name: '<%= @criterio.descripcion %>',
                                data: [ <%= Calificacion.promedioCriterioEspecifico(@especialidad.id, @criterio.id, 1, @tipo_turno.id, @fecha_inicio, @fecha_fin) %>,
                                        <%= Calificacion.promedioCriterioEspecifico(@especialidad.id, @criterio.id, 2, @tipo_turno.id, @fecha_inicio, @fecha_fin) %>,
                                        <%= Calificacion.promedioCriterioEspecifico(@especialidad.id, @criterio.id, 3, @tipo_turno.id, @fecha_inicio, @fecha_fin) %>,
                                        <%= Calificacion.promedioCriterioEspecifico(@especialidad.id, @criterio.id, 4, @tipo_turno.id, @fecha_inicio, @fecha_fin) %>,
                                        <%= Calificacion.promedioCriterioEspecifico(@especialidad.id, @criterio.id, 5, @tipo_turno.id, @fecha_inicio, @fecha_fin) %>]
                            }, {
                                name: 'Todos los Criterios',
                                data: [ <%= Calificacion.promedioCriterios(@criterio.id, 1, @tipo_turno.id, @fecha_inicio, @fecha_fin) %>,
                                        <%= Calificacion.promedioCriterios(@criterio.id, 2, @tipo_turno.id, @fecha_inicio, @fecha_fin) %>,
                                        <%= Calificacion.promedioCriterios(@criterio.id, 3, @tipo_turno.id, @fecha_inicio, @fecha_fin) %>,
                                        <%= Calificacion.promedioCriterios(@criterio.id, 4, @tipo_turno.id, @fecha_inicio, @fecha_fin) %>,
                                        <%= Calificacion.promedioCriterios(@criterio.id, 5, @tipo_turno.id, @fecha_inicio, @fecha_fin) %>]
                            }
                        ]
                    });
                </script>
                <div class="col-sm-12" style="margin-top: 15px">
                  <h3>Indicadores del perfil del paciente</h3>
                </div>
                <div class="col-sm-12" style="margin-top: 15px">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>Total de calificaciones registradas</td>
                                <td><%= @cal_sexos.sum %></td>
                            </tr>
                            <tr>
                                <td>Genero con mayor número de calificaciones</td>
                                <td><%= @cal_sexos.min[0] %>: <%= @cal_sexos.min[1] %></td>
                            </tr>
                            <tr>
                                <td>Genero con menor número de calificaciones</td>
                                <td><%= @cal_sexos.max[0] %>: <%= @cal_sexos.max[1] %></td>
                            </tr>
                            <tr>
                                <td>Diferencia de calificaciones entre ambos generos</td>
                                <td><%= @cal_sexos.range %></td>
                            </tr>
                            <tr>
                                <td>Estado civil con mayor número de calificaciones</td>
                                <td><%= @cal_estado_civiles.min[0] %>: <%= @cal_estado_civiles.min[1] %></td>
                            </tr>
                            <tr>
                                <td>Estado civil con menor númeronúmero de calificaciones</td>
                                <td><%= @cal_estado_civiles.max[0] %>: <%= @cal_estado_civiles.max[1] %></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12" style="margin-top: 15px">
                  <h3>Tabla de resultados</h3>
                  <ul>
                    <li><strong>Todas las especialidades:</strong> Indica el promedio de calificaciones del criterio seleccionado con respecto a todas las especialidades</li>
                    <li><strong>Criterio seleccionado:</strong> Indica el promedio de calificaciones del criterio seleccionado con respecto a todas las calificaciones</li>
                    <li><strong>Todos los criterios:</strong> Indica el promedio de calificaciones del criterio seleccionado con respecto a todos los criterios</li>
                  </ul>
                </div>
                <div class="col-sm-12" style="margin-top: 15px">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <td><strong>Categoria</strong></td>
                            <td><strong>Muy mal</strong></td>
                            <td><strong>Mal</strong></td>
                            <td><strong>Regular</strong></td>
                            <td><strong>Bueno</strong></td>
                            <td><strong>Muy bueno</strong></td>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>Todas las especialidades</strong></td>
                                <td><%= Calificacion.promedioEspecialidades(@especialidad.id, 1, @tipo_turno.id, @fecha_inicio, @fecha_fin).round(2) %> %</td>
                                <td><%= Calificacion.promedioEspecialidades(@especialidad.id, 2, @tipo_turno.id, @fecha_inicio, @fecha_fin).round(2) %> %</td>
                                <td><%= Calificacion.promedioEspecialidades(@especialidad.id, 3, @tipo_turno.id, @fecha_inicio, @fecha_fin).round(2) %> %</td>
                                <td><%= Calificacion.promedioEspecialidades(@especialidad.id, 4, @tipo_turno.id, @fecha_inicio, @fecha_fin).round(2) %> %</td>
                                <td><%= Calificacion.promedioEspecialidades(@especialidad.id, 5, @tipo_turno.id, @fecha_inicio, @fecha_fin).round(2) %> %</td>
                            </tr>
                            <tr>
                                <td><strong>Criterio seleccionado: <%= @criterio.descripcion %> </strong></td>
                                <td><%= Calificacion.promedioCriterioEspecifico(@especialidad.id, @criterio.id, 1, @tipo_turno.id, @fecha_inicio, @fecha_fin).round(2) %> %</td>
                                <td><%= Calificacion.promedioCriterioEspecifico(@especialidad.id, @criterio.id, 2, @tipo_turno.id, @fecha_inicio, @fecha_fin).round(2) %> %</td>
                                <td><%= Calificacion.promedioCriterioEspecifico(@especialidad.id, @criterio.id, 3, @tipo_turno.id, @fecha_inicio, @fecha_fin).round(2) %> %</td>
                                <td><%= Calificacion.promedioCriterioEspecifico(@especialidad.id, @criterio.id, 4, @tipo_turno.id, @fecha_inicio, @fecha_fin).round(2) %> %</td>
                                <td><%= Calificacion.promedioCriterioEspecifico(@especialidad.id, @criterio.id, 5, @tipo_turno.id, @fecha_inicio, @fecha_fin).round(2) %> %</td>
                            </tr>
                            <tr>
                                <td><strong>Todos los criterios</strong></td>
                                <td><%= Calificacion.promedioCriterios(@criterio.id, 1, @tipo_turno.id, @fecha_inicio, @fecha_fin).round(2) %> %</td>
                                <td><%= Calificacion.promedioCriterios(@criterio.id, 2, @tipo_turno.id, @fecha_inicio, @fecha_fin).round(2) %> %</td>
                                <td><%= Calificacion.promedioCriterios(@criterio.id, 3, @tipo_turno.id, @fecha_inicio, @fecha_fin).round(2) %> %</td>
                                <td><%= Calificacion.promedioCriterios(@criterio.id, 4, @tipo_turno.id, @fecha_inicio, @fecha_fin).round(2) %> %</td>
                                <td><%= Calificacion.promedioCriterios(@criterio.id, 5, @tipo_turno.id, @fecha_inicio, @fecha_fin).round(2) %> %</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.table').footable();
        });
    </script>
</div>
