<%= csrf_meta_tag %>
<br>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h2 class="parametros-titulo"><%= "Impacto de la difusión en la gestión de citas" %></h2>
            </div>
        </div>
        <div class="ibox-content" style="padding-bottom: 15px">
            <div class="container-fluid">
                <div class="col-sm-12" style="padding-top: 15px">
                    <div class="col-sm-4">
                        <%= label_tag :id, "Difusión: " %>
                        <h4><%= @difusion.asunto %></h4>
                    </div>
                    <div class="col-sm-4">
                        <%= label_tag :id, @difusion.tipo_entidad == 1 ? "Servicio: " : "Evento: " %>
                        <h4><%= @entidad.descripcion %></h4>
                    </div>
                    <div class="col-sm-4">
                        <%= label_tag :id, "Fecha de la difusión: " %>
                        <h4><%= @difusion.created_at.strftime("%d/%m/%Y") %></h4>
                    </div>
                </div>
                <div class="col-sm-12" style="padding-top: 15px">
                  <div class="col-sm-4">
                      <%= label_tag :id, "Cantidad de semanas: " %>
                      <h4><%= @cantidad_semanas %></h4>
                  </div>
                  <div class="col-sm-4">
                      <%= label_tag :id, "Rango de fecha antes de la difusión: " %>
                      <h4><%= @fecha_inicio.strftime("%d/%m/%Y") %>
                          -
                          <%= @difusion.created_at.strftime("%d/%m/%Y") %></h4>
                  </div>
                  <div class="col-sm-4">
                      <%= label_tag :id, "Rango de fecha despues de la difusión: " %>
                      <h4><%= @difusion.created_at.strftime("%d/%m/%Y") %>
                          -
                          <%= @fecha_fin.strftime("%d/%m/%Y") %></h4>
                  </div>
                </div>
                <div class="col-sm-12" style="padding-top: 15px">
                    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                </div>
                <script>
                    Highcharts.chart('container', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: ''
                        },
                        subtitle: {
                            text: ''
                        },
                        xAxis: {
                            categories: [
                                 '<%= @entidad.descripcion %>'
                            ],
                            crosshair: true
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: 'Cantidad de citas'
                            }
                        },
                        tooltip: {
                            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td><td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
                            footerFormat: '</table>',
                            shared: true,
                            useHTML: true
                        },
                        plotOptions: {
                            column: {
                                pointPadding: 0.2,
                                borderWidth: 0
                            }
                        },
                        series: [
                            {
                                name: 'Citas solicitadas antes de la difusión',
                                data: [ <%= Cita.contarCitasPorDifusionYRangoSemanas(@difusion.id, @fecha_inicio, @difusion.created_at) %> ],
                                color: '#90ed7d'
                            }, {
                                name: 'Citas solicitadas despues de la difusión',
                                data: [ <%= Cita.contarCitasPorDifusionYRangoSemanas(@difusion.id, @difusion.created_at, @fecha_fin) %> ],
                                color: '#8085e9'
                            }, {
                                name: 'Citas solicitadas correspondientes al perfil de la difusión',
                                data: [ <%= Cita.contarCitasPorDifusionRangoSemanasYPerfil(@difusion.id, @difusion.created_at, @fecha_fin) %> ],
                                color: '#3D96AE'
                            }
                        ]
                    });
                </script>
                <div class="col-sm-12" style="margin-top: 15px">
                  <h3>Tabla de resultados</h3>
                </div>
                <div class="col-sm-12" style="margin-top: 15px">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <td><strong>Categoría</strong></td>
                            <td><strong>Total de citas</strong></td>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>Antes de la Difusión</strong></td>
                                <td><%= Cita.contarCitasPorDifusionYRangoSemanas(@difusion.id, @fecha_inicio, @difusion.created_at) %></td>
                            </tr>
                            <tr>
                                <td><strong>Despues de la Difusión</strong></td>
                                <td><%= Cita.contarCitasPorDifusionYRangoSemanas(@difusion.id, @difusion.created_at, @fecha_fin) %></td>
                            </tr>
                            <tr>
                                <td><strong>Citas solicitadas correspondientes al perfil de la difusión</strong></td>
                                <td><%= Cita.contarCitasPorDifusionRangoSemanasYPerfil(@difusion.id, @difusion.created_at, @fecha_fin) %></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
