<div class="row">   
   <div class="col-lg-12">
      <div class="ibox float-e-margins">
          <div class="ibox-title">
              <h2 class="parametros-titulo"><%= "Reportes Estadisticos" %></h2>
          </div>
      </div>
      <div class="ibox-content row">
      	  <h2>Especialidades</h2>
      	  <div class="container col-sm-6">
			  <table class="table table-hover">
			    <tbody>
			      <tr>
			        <td><strong>Cantidad de Especialidades</strong></td>
			        <td><%= @especialidades.number %></td>
			      </tr>
			      <tr>
			        <td><strong>Total de citas registradas</strong></td>
			        <td><%= @especialidades.sum %></td>
			      </tr>
			      <tr>
			        <td><strong>Promedio de citas por cada especialidad</strong></td>
			        <td><%= @especialidades.mean %></td>
			      </tr>
			    </tbody>
			  </table>
			</div>
			<div class="container col-sm-6">
			  <table class="table table-hover">
			    <tbody>
				      <tr>
				        <td><strong>Especialidad con mayor cantidad de citas</strong></td>
				        <td><%= @especialidades.min[0] %>: <%= @especialidades.min[1] %></td>
				      </tr>
				      <tr>
				        <td><strong>Especialdad con menor cantidad de citas</strong></td>
				        <td><%= @especialidades.max[0] %>: <%= @especialidades.max[1] %></td>
				      </tr>  
				      <tr>
				        <td><strong>Diferencia entre la especialidad con mas citas y la menor</strong></td>
				        <td><%= @especialidades.range %></td>
				      </tr>     
			    </tbody>
			  </table>
			</div>
		  <div id="citas-especialidad" width="500px" height="300px"></div>
      </div>




  </div>
</div>

<script type="text/javascript">
	       

    Highcharts.chart('citas-especialidad', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Citas por Estatus'
        },
        xAxis: {
            categories: [
                <% @especialidades2.each do |especialidad| %>
                    '<%= especialidad.descripcion %>',
                <% end %>
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Citas'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Solicitadas',
            data: [
                <% @especialidades2.each do |especialidad| %>
                    <%= especialidad.contarCitas(nil,@fecha_inicio,@fecha_fin) %>,
                <% end %>
            ]

        }, {
            name: 'Confirmadas',
            data: [
                <% @especialidades2.each do |especialidad| %>
                    <%= especialidad.contarCitas(2,@fecha_inicio,@fecha_fin) %>,
                <% end %>
            ]

        }, {
            name: 'Atendidas',
            data: [
                <% @especialidades2.each do |especialidad| %>
                    <%= especialidad.contarCitas(3,@fecha_inicio,@fecha_fin) %>,
                <% end %>
            ]

        }, {
            name: 'Evaluadas',
            data: [
                <% @especialidades2.each do |especialidad| %>
                    <%= especialidad.contarCitas(4,@fecha_inicio,@fecha_fin) %>,
                <% end %>
            ]

        },{
            name: 'Canceladas',
            data: [
                <% @especialidades2.each do |especialidad| %>
                    <%= especialidad.contarCitas(5,@fecha_inicio,@fecha_fin) %>,
                <% end %>
            ]

        }]
    });
</script>