<div class="row">   
   <div class="col-lg-12">
      <div class="ibox float-e-margins">
          <div class="ibox-title">
              <h2 class="parametros-titulo"><%= "Reportes Estadisticos" %></h2>
          </div>
      </div>
      <div class="ibox-content row">
      	  <h2 class="parametros-titulo"><%= @titulo %></h2>
          <h4>Desde el <%= @fecha_inicio.strftime("%d/%m/%Y") %> hasta el <%= @fecha_fin.strftime("%d/%m/%Y") %></h4>
		  <div id="container" width="500px" height="300px"></div>
      </div>




  </div>
</div>

<script type="text/javascript">
	       
    <% if @tipo_entidad == 1.to_s %>
        <% if @entidad == "" %>
            Highcharts.chart('container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Citas por Estatus'
                },
                xAxis: {
                    categories: [
                        <% @especialidades.each do |especialidad| %>
                            '<%= especialidad.descripcion %>',
                        <% end %>
                    ],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Citas'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: 'Solicitadas',
                    data: [
                        <% @especialidades.each do |especialidad| %>
                            <%= especialidad.contarCitas(nil,@fecha_inicio,@fecha_fin) %>,
                        <% end %>
                    ]

                }, {
                    name: 'Confirmadas',
                    data: [
                        <% @especialidades.each do |especialidad| %>
                            <%= especialidad.contarCitas(2,@fecha_inicio,@fecha_fin) %>,
                        <% end %>
                    ]

                }, {
                    name: 'Atendidas',
                    data: [
                        <% @especialidades.each do |especialidad| %>
                            <%= especialidad.contarCitas(3,@fecha_inicio,@fecha_fin) %>,
                        <% end %>
                    ]

                }, {
                    name: 'Evaluadas',
                    data: [
                        <% @especialidades.each do |especialidad| %>
                            <%= especialidad.contarCitas(4,@fecha_inicio,@fecha_fin) %>,
                        <% end %>
                    ]

                },{
                    name: 'Canceladas',
                    data: [
                        <% @especialidades.each do |especialidad| %>
                            <%= especialidad.contarCitas(5,@fecha_inicio,@fecha_fin) %>,
                        <% end %>
                    ]

                }]
            });
        <% else %>
            Highcharts.chart('container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Citas por Estatus'
                },
                xAxis: {
                    categories: [
                        '<%= @especialidad.descripcion %>',
                    ],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Citas'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: 'Solicitadas',
                    data: [
                            <%= @especialidad.contarCitas(nil,@fecha_inicio,@fecha_fin) %>,
                    ]

                }, {
                    name: 'Confirmadas',
                    data: [

                            <%= @especialidad.contarCitas(2,@fecha_inicio,@fecha_fin) %>,

                    ]

                }, {
                    name: 'Atendidas',
                    data: [
                            <%= @especialidad.contarCitas(3,@fecha_inicio,@fecha_fin) %>,
                    ]

                }, {
                    name: 'Evaluadas',
                    data: [
                            <%= @especialidad.contarCitas(4,@fecha_inicio,@fecha_fin) %>,
                    ]

                },{
                    name: 'Canceladas',
                    data: [
                            <%= @especialidad.contarCitas(5,@fecha_inicio,@fecha_fin) %>,
                    ]

                }]
            });
        <% end %>

    <% elsif @tipo_entidad == 2.to_s %>
        <% if @entidad == "" %>
            Highcharts.chart('container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Citas por Estatus'
                },
                xAxis: {
                    categories: [
                        <% @tipoServicios.each do |tipoServicio| %>
                            '<%= tipoServicio.descripcion %>',
                        <% end %>
                    ],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Citas'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: 'Solicitadas',
                    data: [
                        <% @tipoServicios.each do |tipoServicio| %>
                            <%= tipoServicio.contarCitas(nil,@fecha_inicio,@fecha_fin) %>,
                        <% end %>
                    ]

                }, {
                    name: 'Confirmadas',
                    data: [
                        <% @tipoServicios.each do |tipoServicio| %>
                            <%= tipoServicio.contarCitas(2,@fecha_inicio,@fecha_fin) %>,
                        <% end %>
                    ]

                }, {
                    name: 'Atendidas',
                    data: [
                        <% @tipoServicios.each do |tipoServicio| %>
                            <%= tipoServicio.contarCitas(3,@fecha_inicio,@fecha_fin) %>,
                        <% end %>
                    ]

                }, {
                    name: 'Evaluadas',
                    data: [
                        <% @tipoServicios.each do |tipoServicio| %>
                            <%= tipoServicio.contarCitas(4,@fecha_inicio,@fecha_fin) %>,
                        <% end %>
                    ]

                },{
                    name: 'Canceladas',
                    data: [
                        <% @tipoServicios.each do |tipoServicio| %>
                            <%= tipoServicio.contarCitas(5,@fecha_inicio,@fecha_fin) %>,
                        <% end %>
                    ]

                }]
            });
        <% else %>
            Highcharts.chart('container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Citas por Estatus'
                },
                xAxis: {
                    categories: [
                        '<%= @tipoServicio.descripcion %>',
                    ],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Citas'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: 'Solicitadas',
                    data: [
                            <%= @tipoServicio.contarCitas(nil,@fecha_inicio,@fecha_fin) %>,
                    ]

                }, {
                    name: 'Confirmadas',
                    data: [

                            <%= @tipoServicio.contarCitas(2,@fecha_inicio,@fecha_fin) %>,

                    ]

                }, {
                    name: 'Atendidas',
                    data: [
                            <%= @tipoServicio.contarCitas(3,@fecha_inicio,@fecha_fin) %>,
                    ]

                }, {
                    name: 'Evaluadas',
                    data: [
                            <%= @tipoServicio.contarCitas(4,@fecha_inicio,@fecha_fin) %>,
                    ]

                },{
                    name: 'Canceladas',
                    data: [
                            <%= @tipoServicio.contarCitas(5,@fecha_inicio,@fecha_fin) %>,
                    ]

                }]
            });
        <% end %>
    <% else %>
        <% if @entidad == "" %>
            Highcharts.chart('container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Citas por Estatus'
                },
                xAxis: {
                    categories: [
                        <% @servicios.each do |servicio| %>
                            '<%= servicio.descripcion %>',
                        <% end %>
                    ],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Citas'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: 'Solicitadas',
                    data: [
                        <% @servicios.each do |servicio| %>
                            <%= servicio.contarCitas(nil,@fecha_inicio,@fecha_fin) %>,
                        <% end %>
                    ]

                }, {
                    name: 'Confirmadas',
                    data: [
                        <% @servicios.each do |servicio| %>
                            <%= servicio.contarCitas(2,@fecha_inicio,@fecha_fin) %>,
                        <% end %>
                    ]

                }, {
                    name: 'Atendidas',
                    data: [
                        <% @servicios.each do |servicio| %>
                            <%= servicio.contarCitas(3,@fecha_inicio,@fecha_fin) %>,
                        <% end %>
                    ]

                }, {
                    name: 'Evaluadas',
                    data: [
                        <% @servicios.each do |servicio| %>
                            <%= servicio.contarCitas(4,@fecha_inicio,@fecha_fin) %>,
                        <% end %>
                    ]

                },{
                    name: 'Canceladas',
                    data: [
                        <% @servicios.each do |servicio| %>
                            <%= servicio.contarCitas(5,@fecha_inicio,@fecha_fin) %>,
                        <% end %>
                    ]

                }]
            });
        <% else %>
            Highcharts.chart('container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Citas por Estatus'
                },
                xAxis: {
                    categories: [
                        '<%= @servicio.descripcion %>',
                    ],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Citas'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: 'Solicitadas',
                    data: [
                            <%= @servicio.contarCitas(nil,@fecha_inicio,@fecha_fin) %>,
                    ]

                }, {
                    name: 'Confirmadas',
                    data: [

                            <%= @servicio.contarCitas(2,@fecha_inicio,@fecha_fin) %>,

                    ]

                }, {
                    name: 'Atendidas',
                    data: [
                            <%= @servicio.contarCitas(3,@fecha_inicio,@fecha_fin) %>,
                    ]

                }, {
                    name: 'Evaluadas',
                    data: [
                            <%= @servicio.contarCitas(4,@fecha_inicio,@fecha_fin) %>,
                    ]

                },{
                    name: 'Canceladas',
                    data: [
                            <%= @servicio.contarCitas(5,@fecha_inicio,@fecha_fin) %>,
                    ]

                }]
            });
        <% end %>
    <% end %> 
</script>