<%= csrf_meta_tag %>
<br>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h2 class="parametros-titulo"><%= "Reporte de calificaciones por criterios" %></h2>
            </div>
        </div>
        <div class="ibox-content" style="padding-bottom: 15px">
            <div class="container-fluid">
                <div class="col-sm-12" style="padding-top: 15px">
                    <div class="col-sm-4">
                        <%= label_tag :id, "Especialidad: " %>
                        <%= label_tag :id, @especialidad.descripcion %>
                    </div>
                    <div class="col-sm-4">
                        <%= label_tag :id, "Tipo de turno: " %>
                        <%= label_tag :id, @tipo_turno.descripcion %>
                    </div>
                    <div class="col-sm-4">
                        <%= label_tag :id, "Criterio: " %>
                        <%= label_tag :id, @criterio.descripcion %>
                    </div>
                </div>
                <div class="col-sm-12" style="padding-top: 15px">
                    <div class="col-sm-4">
                        <%= label_tag :id, "Desde: " %>
                        <%= label_tag :id, @fecha_inicio %>
                    </div>
                    <div class="col-sm-4">
                        <%= label_tag :id, "Hasta: " %>
                        <%= label_tag :id, @fecha_fin %>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="col-sm-12" style="padding-top: 15px">
                    <script src="https://code.highcharts.com/highcharts.js"></script>
                    <script src="https://code.highcharts.com/modules/exporting.js"></script>
                    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                </div>
                <script>
                    Highcharts.chart('container', {
                        title: {
                            text: 'Combination chart'
                        },
                        xAxis: {
                            categories: ['Apples', 'Oranges', 'Pears', 'Bananas', 'Plums']
                        },
                        labels: {
                            items: [
                                {
                                    html: 'Total fruit consumption',
                                    style: {
                                        left: '50px',
                                        top: '18px',
                                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                                    }
                                }
                            ]
                        },
                        series: [
                            {
                                type: 'column',
                                name: 'Jane',
                                data: [3, 2, 1, 3, 4]
                            }, {
                                type: 'column',
                                name: 'John',
                                data: [2, 3, 5, 7, 6]
                            }, {
                                type: 'column',
                                name: 'Joe',
                                data: [4, 3, 3, 9, 0]
                            }, {
                                type: 'spline',
                                name: 'Average',
                                data: [
                                    3, 2.67, 3, 6.33, 3.33
                                ],
                                marker: {
                                    lineWidth: 2,
                                    lineColor: Highcharts.getOptions().colors[3],
                                    fillColor: 'white'
                                }
                            }, {
                                type: 'pie',
                                name: 'Total consumption',
                                data: [
                                    {
                                        name: 'Jane',
                                        y: 13,
                                        color: Highcharts.getOptions().colors[0] // Jane's color
                                    }, {
                                        name: 'John',
                                        y: 23,
                                        color: Highcharts.getOptions().colors[1] // John's color
                                    }, {
                                        name: 'Joe',
                                        y: 19,
                                        color: Highcharts.getOptions().colors[2] // Joe's color
                                    }
                                ],
                                center: [
                                    100, 80
                                ],
                                size: 100,
                                showInLegend: false,
                                dataLabels: {
                                    enabled: false
                                }
                            }
                        ]
                    });
                </script>
                <div class="col-sm-12" style="margin-top: 15px">
                    <!--<table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>Total de calificaciones registradas</strong>
                                </td>
                                <td><%= @cal_sexos.sum %></td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Sexo con mayor cantidad de calificaciones</strong>
                                </td>
                                <td><%= @cal_sexos.min[0] %>:
                                    <%= @cal_sexos.min[1] %></td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Sexo con menor cantidad de calificaciones</strong>
                                </td>
                                <td><%= @cal_sexos.max[0] %>:
                                    <%= @cal_sexos.max[1] %></td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Diferencia de calificaciones entre ambos sexos</strong>
                                </td>
                                <td><%= @cal_sexos.range %></td>
                            </tr>

                            <tr>
                                <td>
                                    <strong>Estado civil con mayor cantidad de calificaciones</strong>
                                </td>
                                <td><%= @cal_estado_civiles.min[0] %>:
                                    <%= @cal_estado_civiles.min[1] %></td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Estado civil con menor cantidad de calificaciones</strong>
                                </td>
                                <td><%= @cal_estado_civiles.max[0] %>:
                                    <%= @cal_estado_civiles.max[1] %></td>
                            </tr>
                        </tbody>
                    </table>-->
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.table').footable();
        });
    </script>
</div>
