<%= csrf_meta_tag %>
<br>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h2 class="parametros-titulo"><%= "Calificaciones por Especialidades" %></h2>
            </div>
        </div>
        <%= form_tag({controller: "grafico", action: "calcular_calificaciones_por_especialidad"}, method: "post") do %>
        <div class="ibox-content" style="padding-bottom: 15px">
            <div class="container-fluid">
                <div class="field form-group row">
                    <label class="col-lg-2 control-label">Tipo de turno:</label>
                    <div class="col-lg-10">
                        <%= collection_select(:id, :tipo_turno, TipoTurno.all, :id, :descripcion,
                            {:prompt => "Seleccione"}, {:class => 'form-control'}) %>
                        <%= hidden_field_tag :tipo_turno_id, :tipo_turno_id %>
                        <script>
                            $(function () {
                                $(document).on('change', '#id_tipo_turno', function () {
                                    var select_value = $(this).val();
                                    $('#tipo_turno_id').val(select_value);
                                });
                            });
                        </script>
                    </div>
                </div>
                <div class="field form-group row">
                    <label class="col-lg-2 control-label">Rango de Fechas:</label>
                    <div class="col-lg-10">
                        <%= text_field_tag "fecha","" ,:class => "daterange form-control", :required => true %>
                    </div>
                </div>
                <div class="col-sm-12" style="margin-top: 15px">
                    <div class="col-lg-offset-4 col-lg-2">
                         <%= submit_tag "Generar", :class => "btn btn-sm btn-primary" %>
                    </div>
                      <div class="col-lg-2">
                      <%= link_to 'Limpiar', '', type: :reset, :class => "btn btn-sm btn-warning " %>
                      </div>
                    <div class="col-lg-2">

                    </div>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#fecha').daterangepicker({
            "locale": {
                "format": "DD-MM-YYYY"
            }
        });
    });
</script>
