<div class="row">
   <div class="col-lg-10 col-lg-offset-1">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h2 class="parametros-titulo"><%= "Tiempo promedio de Atencion" %></h2>
              </div>
          </div>
          <div class="ibox-content">

            <%= form_tag "/grafico/tiempo_atencion", method: "post", :html => {:class => 'form-horizontal' } do |f| %>
                    <br>
                    <div class="field form-group row">
                      <label class="col-lg-2 control-label">Seleccione el tipo de entidad:</label>
                      <div class="col-lg-10">
                        <%= select_tag("tipo_entidad", options_for_select({ "Especialidad" => 1,"Tipo de Servicio" => 2,"Servicio" => 3 }, 1),{:class => "form-control"}) %>
                      </div>

                    </div>

                    <div class="field form-group row">
                      <label class="col-lg-2 control-label">Entidad:</label>
                      <div class="col-lg-10">
                        <%= select_tag("entidad", options_from_collection_for_select(@especialidades, :id, :descripcion), {:class => "form-control", :prompt => "Seleccione la entidad"}) %>
                      </div>

                    </div>


                    <div class="field form-group row">
                      <label class="col-lg-2 control-label">Rango de Fechas:</label>
                      <div class="col-lg-10">
                        <%= text_field_tag "fecha","" ,:class => "daterange form-control", :required => true %>
                      </div>

                    </div>

            <div class="form-group row">
                <div class="col-lg-offset-4 col-lg-2">
                     <%= submit_tag "Generar", :class => "btn btn-sm btn-primary" %>
                </div>
                  <div class="col-lg-2">
                  <%= link_to 'Limpiar', '', type: :reset, :class => "btn btn-sm btn-warning " %>
                  </div>
                <div class="col-lg-2">

                </div>
            </div>

            <% end %>
          </div>

  </div>

</div>
<script type="text/javascript">
$(document).ready(function() {
  $('#fecha').daterangepicker({
    "locale": {
      "format": "DD-MM-YYYY"
    }
  });
});
</script>
