
<h1>Tipo Habitos</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Estatus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipo_habitos.each do |tipo_habito| %>
      <tr>
        <td><%= tipo_habito.descripcion %></td>
        <td><%= tipo_habito.estatus %></td>
        <td><%= link_to 'Show', tipo_habito %></td>
        <td><%= link_to 'Edit', edit_tipo_habito_path(tipo_habito) %></td>
        <td><%= link_to 'Destroy', tipo_habito, method: :delete, data: { confirm: '¿Está seguro que desea eliminar el tipo de habito?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tipo Habito', new_tipo_habito_path %>
