<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @tipo_habito.descripcion %>
</p>

<p>
  <strong>Estatus:</strong>
  <%= @tipo_habito.estatus %>
</p>

<%= link_to 'Edit', edit_tipo_habito_path(@tipo_habito) %> |
<%= link_to 'Back', tipo_habitos_path %>
