
<h1>Tipo Discapacidades</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Estatus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipo_discapacidades.each do |tipo_discapacidad| %>
      <tr>
        <td><%= tipo_discapacidad.descripcion %></td>
        <td><%= tipo_discapacidad.estatus %></td>
        <td><%= link_to 'Show', tipo_discapacidad %></td>
        <td><%= link_to 'Edit', edit_tipo_discapacidad_path(tipo_discapacidad) %></td>
        <td><%= link_to 'Destroy', tipo_discapacidad, method: :delete, data: { confirm: '¿Está seguro que desea eliminar el tipo de discapacidad?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tipo Discapacidad', new_tipo_discapacidad_path %>
