<div class="row">   
   <div class="col-lg-10 col-lg-offset-1">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h2 class="parametros-titulo"><%= "Perfil" %></h2>
              </div>
          </div>
          <div class="ibox-content">

          <%= form_for @perfil, :html => {:class => 'form-horizontal', :multipart => true } do |f| %>
                  <% if @perfil.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@perfil.errors.count, "error") %> prohibited this parametro from being saved:</h2>

                      <ul>
                      <% @perfil.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>

              <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#datos">Descripción</a></li>
                <li><a data-toggle="tab" href="#perfil-persona">Perfil de Pacientes</a></li>
                <li><a data-toggle="tab" href="#perfil-medico">Antecedentes Médicos</a></li>
                <li><a data-toggle="tab" href="#perfil-otros">Otros</a></li>
              </ul>

              <div class="tab-content">

                <div id="datos" class="tab-pane fade in active">
                  <br>
                  <div class="form-group">
                      <label class="col-lg-2 control-label">Descripción</label>

                      <div class="col-lg-10"><%= f.text_field :descripcion, :required =>true,:class => "form-control" %>
                       </div>
                    </div>

                </div>

                <div id="perfil-persona" class="tab-pane fade">
                  <br>
                  <ul class="nav nav-tabs">
                    <li><a data-toggle="tab" href="#estado_civiles">Estado Civil</a></li>
                    <li><a data-toggle="tab" href="#ocupaciones">Ocupaciones</a></li>
                    <li><a data-toggle="tab" href="#profesiones">Profesiones</a></li>
                    <li><a data-toggle="tab" href="#sexos">Sexo</a></li>
                    <li><a data-toggle="tab" href="#edades">Edades</a></li>
                    <li><a data-toggle="tab" href="#pesos">Pesos</a></li>
                  </ul>

                  <div class="tab-content">

                    <div id="estado_civiles" class="tab-pane fade in">
                      <div class="container-fluid">
                        <% @estado_civiles.each do |estado_civil| %>
                          <div class="col-sm-3">
                              <%= check_box_tag('estado_civiles[]', estado_civil.id, @perfil.estado_civiles.include?(estado_civil)) %> <%= estado_civil.descripcion %>
                          </div>
                        <% end %>
                      </div>  
                    </div>

                    <div id="ocupaciones" class="tab-pane fade in">
                      <div class="container-fluid">
                        <% @ocupaciones.each do |ocupacion| %>
                          <div class="col-sm-3">
                            <%= check_box_tag('ocupaciones[]', ocupacion.id, @perfil.ocupaciones.include?(ocupacion)) %> <%= ocupacion.descripcion %>
                          </div>
                        <% end %>
                      </div>  
                    </div>

                    <div id="profesiones" class="tab-pane fade in">
                      <div class="container-fluid">
                        <% @profesiones.each do |profesion| %>
                          <div class="col-sm-3">
                            <%= check_box_tag('profesiones[]', profesion.id, @perfil.profesiones.include?(profesion)) %> <%= profesion.descripcion %>
                          </div>
                        <% end %>
                      </div>  
                    </div>

                    <div id="sexos" class="tab-pane fade in">
                      <div class="container-fluid">
                        <% @sexos.each do |sexo| %>
                          <div class="col-sm-3">
                            <%= check_box_tag('sexos[]', sexo.id, @perfil.sexos.include?(sexo)) %> <%= sexo.descripcion %>
                          </div>
                        <% end %>
                      </div>  
                    </div>

                    <div id="edades" class="tab-pane fade in">
                      <div class="container-fluid">
                        <% @rangoEdades.each do |edad| %>
                          <div class="col-sm-3">
                            <%= check_box_tag('rango_edades[]', edad.id, @perfil.rango_edades.include?(edad)) %> <%= edad.descripcion %>
                          </div>
                        <% end %>
                      </div>  
                    </div>

                    <div id="pesos" class="tab-pane fade in">
                      <div class="container-fluid">
                        <% @rangoPesos.each do |peso| %>
                          <div class="col-sm-3">
                            <%= check_box_tag('rango_pesos[]', peso.id, @perfil.rango_pesos.include?(peso)) %> <%= peso.descripcion %>
                          </div>
                        <% end %>
                      </div>  
                    </div>

                  </div>
                </div>

                <div id="perfil-medico" class="tab-pane fade">
                  <br>
                  <ul class="nav nav-tabs">
                    <li><a data-toggle="tab" href="#cirugias">Cirugías</a></li>
                    <li><a data-toggle="tab" href="#discapacidades">Discapacidades</a></li>
                    <li><a data-toggle="tab" href="#grupo_sanguineos">Grupos Sanguíneos</a></li>
                    <li><a data-toggle="tab" href="#lesiones">Lesiones</a></li>
                    <li><a data-toggle="tab" href="#patologias">Patologías</a></li>
                    <li><a data-toggle="tab" href="#vacunas">Vacunas</a></li>
                  </ul>

                  <div class="tab-content">

                    <div id="cirugias" class="tab-pane fade in">
                      <div class="container-fluid">
                        <% @cirugias.each do |cirugia| %>
                          <div class="col-sm-3">
                            <%= check_box_tag('cirugias[]', cirugia.id, @perfil.cirugias.include?(cirugia)) %> <%= cirugia.descripcion %>
                          </div>
                        <% end %>
                      </div>  
                    </div>

                    <div id="discapacidades" class="tab-pane fade in">
                      <div class="container-fluid">
                        <% @discapacidades.each do |discapacidad| %>
                          <div class="col-sm-3 ">
                            <%= check_box_tag('discapacidades[]', discapacidad.id, @perfil.discapacidades.include?(discapacidad)) %> <%= discapacidad.descripcion %>                        
                          </div>
                        <% end %>
                      </div>  
                    </div>

                    <div id="grupo_sanguineos" class="tab-pane fade in">
                      <div class="container-fluid">
                        <% @grupo_sanguineos.each do |grupo_sanguineo| %>
                          <div class="col-sm-3">
                            <%= check_box_tag('grupo_sanguineos[]', grupo_sanguineo.id, @perfil.grupo_sanguineos.include?(grupo_sanguineo)) %> <%= grupo_sanguineo.descripcion %>
                          </div>
                        <% end %>
                      </div>  
                    </div>

                    <div id="lesiones" class="tab-pane fade in">
                      <div class="container-fluid">
                        <% @lesiones.each do |lesion| %>
                          <div class="col-sm-3">
                            <%= check_box_tag('lesiones[]', lesion.id, @perfil.lesiones.include?(lesion)) %> <%= lesion.descripcion %>
                          </div>
                        <% end %>
                      </div>  
                    </div>

                    <div id="patologias" class="tab-pane fade in">
                      <div class="container-fluid">
                        <% @patologias.each do |patologia| %>
                          <div class="col-sm-3">
                            <%= check_box_tag('patologias[]', patologia.id, @perfil.patologias.include?(patologia)) %> <%= patologia.descripcion %>
                          </div>
                        <% end %>
                      </div>  
                    </div>


                    <div id="vacunas" class="tab-pane fade in">
                      <div class="container-fluid">
                        <% @vacunas.each do |vacuna| %>
                          <div class="col-sm-3">
                            <%= check_box_tag('vacunas[]', vacuna.id, @perfil.vacunas.include?(vacuna)) %> <%= vacuna.descripcion %>
                          </div>
                        <% end %>
                      </div>  
                    </div>

                  </div>
                </div>

                <div id="perfil-otros" class="tab-pane fade">
                  <br>
                  <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#adicciones">Adicciones</a></li>
                    <li><a data-toggle="tab" href="#habitos">Hábitos</a></li>
                  </ul>

                  <div class="tab-content">
                    <div id="adicciones" class="tab-pane fade in active">
                      <div class="container-fluid">
                        <% @adicciones.each do |adiccion| %>
                          <div class="col-sm-3">
                            <%= check_box_tag('adicciones[]', adiccion.id, @perfil.adicciones.include?(adiccion)) %> <%= adiccion.descripcion %>
                          </div>
                        <% end %>
                      </div>  
                    </div>

                    <div id="habitos" class="tab-pane fade in">
                      <div class="container-fluid">
                        <% @habitos.each do |habito| %>
                          <div class="col-sm-3">
                            <%= check_box_tag('habitos[]', habito.id, @perfil.habitos.include?(habito)) %> <%= habito.descripcion %>
                          </div>
                        <% end %>
                      </div>  
                    </div>

                  </div>
                </div>


              </div>

          
             <div class="form-group">
                      <div class="col-lg-offset-3 col-lg-2">
                           <%= f.submit "Guardar", :class => "btn btn-sm btn-primary" %>
                      </div>
                        <div class="col-lg-2">
                        <%= link_to 'Limpiar', '', type: :reset, :class => "btn btn-sm btn-warning " %>                          
                        </div>
                      <div class="col-lg-2">
                      <%= link_to 'Atrás',perfiles_path, :class => "btn btn-sm btn-success" %>                          
                      </div>
                  </div>
          <% end %>
          </div>
  </div>
</div>
