<h1>Perfiles</h1>

<table>
  <thead>
    <tr>
      <th>Descripción</th>
      <th>Estatus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @perfiles.each do |perfil| %>
      <tr>
        <td><%= perfil.descripcion %></td>
        <td><%= perfil.estatus %></td>
        <td><%= link_to 'Show', perfil %></td>
        <td><%= link_to 'Edit', edit_perfil_path(perfil) %></td>
        <td><%= link_to 'Destroy', perfil, method: :delete, data: { confirm: '¿Está seguro que desea eliminar el perfil?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Perfil', new_perfil_path %>
