<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @noticia.titulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @noticia.descripcion %>
</p>

<p>
  <strong>Tipo noticias:</strong>
  <%= @noticia.tipo_noticia %>
</p>

<p>
  <strong>Status:</strong>
  <%= @noticia.estatus %>
</p>

<%= link_to 'Edit', edit_noticia_path(@noticia) %> |
<%= link_to 'Back', noticias_path %>
