<%= form_for(busqueda) do |f| %>

  <div class="field">
    <%= f.label :descripcion %>
    <%= f.text_field :descripcion, :required => true %>
  </div>


  <div class="field">
    <%= f.label :estatus %>
    <%= f.number_field :estatus %>
  </div>

  <div class="field">
    <%= f.label :tipo_busqueda_id %>
    <%= f.text_field :tipo_busqueda_id %>
  </div>

  <div class="field">
    <%= f.label :especialidad_id %>
    <%= f.text_field :especialidad_id %>
  </div>

  <div class="field">
    <%= f.label :especialista_id %>
    <%= f.text_field :especialista_id %>
  </div>

  <div class="field">
    <%= f.label :tipo_servicio_id %>
    <%= f.text_field :tipo_servicio_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
