
<h1>Profesiones</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Estatus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profesiones.each do |profesion| %>
      <tr>
        <td><%= profesion.descripcion %></td>
        <td><%= profesion.estatus %></td>
        <td><%= link_to 'Show', profesion %></td>
        <td><%= link_to 'Edit', edit_profesion_path(profesion) %></td>
        <td><%= link_to 'Destroy', profesion, method: :delete, data: { confirm: '¿Está seguro que desea eliminar la profesion?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profesion', new_profesion_path %>
