
<h1>Tipo Turnos</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipo_turnos.each do |tipo_turno| %>
      <tr>
        <td><%= tipo_turno.descripcion %></td>
        <td><%= link_to 'Show', tipo_turno %></td>
        <td><%= link_to 'Edit', edit_tipo_turno_path(tipo_turno) %></td>
        <td><%= link_to 'Destroy', tipo_turno, method: :delete, data: { confirm: '¿Está seguro que desea eliminar el tipo de turno?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tipo Turno', new_tipo_turno_path %>
