
<h1>Vacunas</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Estatus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vacunas.each do |vacuna| %>
      <tr>
        <td><%= vacuna.descripcion %></td>
        <td><%= vacuna.estatus %></td>
        <td><%= link_to 'Show', vacuna %></td>
        <td><%= link_to 'Edit', edit_vacuna_path(vacuna) %></td>
        <td><%= link_to 'Destroy', vacuna, method: :delete, data: { confirm: '¿Está seguro que desea eliminar la vacuna?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vacuna', new_vacuna_path %>
