<div class="row">   
   <div class="col-lg-6 col-lg-offset-3">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h2 class="parametros-titulo"><%= rango_peso.class.titulo %></h2>
              </div>
          </div>
          <div class="ibox-content">
               <%= form_for @rango_peso, :html => {:class => 'form-horizontal', :id => 'form_peso'}, :form_to_validate => 'rango_peso'  do |f| %>

                  <div class="form-group"><label class="col-lg-2 control-label">Descripcion</label>

                      <div class="col-lg-10"><%= f.text_field :descripcion,:required=>true, :class => "form-control" %>
                       </div>
                   </div>

                  <div class="form-group"><label class="col-lg-2 control-label">Peso Inicial</label>

                      <div class="col-lg-10"><%= f.number_field :peso_inicial,:required=>true, :class => "form-control" %>
                       </div>
                  </div>

                  <div class="form-group"><label class="col-lg-2 control-label">Peso Final</label>

                      <div class="col-lg-10"><%= f.number_field :peso_final, :required=>true,:class => "form-control" %>
                       </div>
                  </div>                  

                 
                    <div class="form-group">
                      <div class="col-lg-offset-3 col-lg-2">
                           <%= f.submit "Guardar", :class => "btn btn-sm btn-primary" %>
                      </div>
                        <div class="col-lg-2">
                        <%= link_to 'Limpiar', '', type: :reset, :class => "btn btn-sm btn-warning " %>                          
                        </div>
                      <div class="col-lg-2">
                      <%= link_to 'Atras',rango_pesos_path, :class => "btn btn-sm btn-success" %>                          
                      </div>
                  </div>

              <% end %>
          </div>
  </div>
</div>
<script type="text/javascript">


  var valor_negativo = function(e_inicio) {

        var inicio = 0;
        inicio = parseInt(e_inicio);
        if( inicio <= 0)
        {
          return false;
        }
        else{
          return true;
        }
    };

  var rango_valido = function(e_inicio, e_fin) {

        var inicio = 0;
        var fin = 0;
        fin = parseInt(e_fin);
        inicio = parseInt(e_inicio);
        if( inicio < fin)
        {
          return false;
        }
        else{
          return true;
        }
    };

$('#form_peso').validate({
    rules: {
      'rango_peso[peso_inicial]': { required: true,
                              valor_negativo: true,
                              rango_valido: true
                            },
      'rango_peso[peso_final]' :{  required: true,
                            valor_negativo: true,
                            rango_valido: true
                          }
    }
  });
  jQuery.validator.addMethod("valor_negativo", function(value, element) {

        return valor_negativo(value);
    }, "Peso no puede ser un valor negativo o cero ");

  jQuery.validator.addMethod("rango_valido", function(value, element) {

        return rango_valido(value);
    }, "Rango inválido ");



      </script>
