
<h1>Criterios</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Estatus</th>
      <th>Tipo criterio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @criterios.each do |criterio| %>
      <tr>
        <td><%= criterio.descripcion %></td>
        <td><%= criterio.estatus %></td>
        <td><%= criterio.tipo_criterio %></td>
        <td><%= link_to 'Show', criterio %></td>
        <td><%= link_to 'Edit', edit_criterio_path(criterio) %></td>
        <td><%= link_to 'Destroy', criterio, method: :delete, data: { confirm: '¿Está seguro que desea eliminar el criterio?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Criterio', new_criterio_path %>
