<div class="row">   
   <div class="col-lg-6 col-lg-offset-3">
   <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h2 class="parametros-titulo"><%= "Evento" %></h2>
              </div>
          </div>
          <div class="ibox-content">
             <%= form_for @evento, :html => {:class => 'form-horizontal'} do |f| %>
                  <% if @evento.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@evento.errors.count, "error") %> prohibited this parametro from being saved:</h2>

                      <ul>
                      <% @evento.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>

                  <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#datos">Difusion</a></li>
                    <li><a data-toggle="tab" href="#texto">Texto</a></li>
                  </ul>

                  <div class="tab-content">
                    <div id="datos" class="tab-pane fade in active">
                      <div class="field form-group">
                      <label class="col-lg-2 control-label">Ubicacion</label>

                       <div class="col-lg-10">
                        <%= f.collection_select(:ubicacion_id, @ubicaciones, :id, :descripcion, {prompt: "Seleccione la ubicacion"}, {:class => "form-control"}) %>
                       </div>

                    </div>

                    <div class="form-group">
                      <label class="col-lg-2 control-label">Fecha</label>
                      <div class="col-lg-10"><%= f.datetime_select :fecha %>
                      </div>
                    </div>

                    <div class="field form-group">
                      <label class="col-lg-2 control-label">Tipo de evento</label>

                       <div class="col-lg-10">
                        <%= f.collection_select(@referencia, @collection, :id, :descripcion, {prompt: "Seleccione", :selected => @evento.tipo}, {:class => "form-control"}) %>
                       </div>

                    </div>

                    <div id="servicios" class="tab-pane fade in">
                        <h3>Tipos de Servicio</h3>
                        <div class="container-fluid">
                          <% @tipoServicios.each do |tipoServicio| %>
                            <div class="col-sm-6">
                              <%= check_box_tag('tipoServicios[]', tipoServicio.id, @evento.tipo_servicios.include?(tipoServicio)) %> <%= tipoServicio.descripcion %>
                            </div>
                          <% end %>
                        </div>  
                      </div>

                    <div class="form-group">
                      <label class="col-lg-2 control-label">Descripcion</label>
                      
                        <div class="col-lg-10"><%= f.text_field :descripcion, :class => "form-control" %>
                         </div>
                      </div>

                      <div class="form-group">
                        <label class="col-lg-2 control-label">Foto</label>

                        <div class="col-lg-10"><%= f.file_field :foto, :class => "form-control" %>
                         </div>
                      </div>
                    </div>

                    <div id="texto" class="tab-pane fade in">
                      <br>
                      <div class="form-group">
                          <label class="col-lg-2 control-label">Texto</label>

                          <div class="col-lg-10"><%= f.text_area :contenido, :class => "tinymce form-control" %>
                           </div>

                          <%= tinymce %>
                        </div>
                    </div>
                  </div>

                  

                 <div class="form-group">
                      <div class="col-lg-offset-3 col-lg-2">
                           <%= f.submit "Guardar", :class => "btn btn-sm  btn-primary" %>
                      </div>
                        <div class="col-lg-2">
                        <%= link_to 'Limpiar', '', type: :reset, :class => "btn btn-sm btn-warning " %>                          
                        </div>
                      <div class="col-lg-2">
                      <%= link_to 'Atras',eventos_path, :class => "btn btn-sm btn-success" %>                          
                      </div>
                  </div>

              <% end %>
          </div>
  </div>
</div>

