<%= csrf_meta_tag %>
<p id="notice"><%= notice %></p>
<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h2 class="parametros-titulo"><%= "Eventos" %></h2>
  </div>
</div>
<div class="ibox-content">
  <%= link_to "Evento", new_polymorphic_url(@eventos.new), :class => "btn btn-primary btn-sm "%>
  <br><br>
  <table class="footable table table-stripped" data-sorting="true" data-filtering="true">
    <thead>
    <tr>
      <th data-breakpoints="xs" data-sorted="true">Tipo</th>
      <th>Descripción</th>
      <th colspan="1"></th>
    </tr>
    </thead>
    <tbody>
    <% @eventos.each do |evento| %>
        <tr>
          <td><%= evento.tipo_evento.descripcion %></td>
          <td><%= link_to evento.descripcion, polymorphic_url(evento) %></td>
          <td>
            <%= link_to 'Editar', edit_evento_path(evento), :class => "btn btn-warning btn-sm" %>
            <%= link_to 'Eliminar', Evento, :method => :delete, data: { confirm: '¿Estás seguro?' } , :class => "btn btn-danger btn-sm" %></td>
        </tr>
    <% end %>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="5">
        <ul class="pagination pull-right"></ul>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
<br>


<script type="text/javascript">
  $(document).ready(function(){
    $('.table').footable();
  });

</script>


