<h1>Grupo Sanguineos</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Estatus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grupo_sanguineos.each do |grupo_sanguineo| %>
      <tr>
        <td><%= grupo_sanguineo.descripcion %></td>
        <td><%= grupo_sanguineo.estatus %></td>
        <td><%= link_to 'Show', grupo_sanguineo %></td>
        <td><%= link_to 'Edit', edit_grupo_sanguineo_path(grupo_sanguineo) %></td>
        <td><%= link_to 'Destroy', grupo_sanguineo, method: :delete, data: { confirm: '¿Está seguro que desea eliminar el grupo sanguineo?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grupo Sanguineo', new_grupo_sanguineo_path %>
