<p id="notice"><%= notice %></p>

<h1>Plantilla Correos</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Texto</th>
      <th>Estatus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plantilla_correos.each do |plantilla_correo| %>
      <tr>
        <td><%= plantilla_correo.descripcion %></td>
        <td><%= plantilla_correo.texto %></td>
        <td><%= plantilla_correo.estatus %></td>
        <td><%= link_to 'Show', plantilla_correo %></td>
        <td><%= link_to 'Edit', edit_plantilla_correo_path(plantilla_correo) %></td>
        <td><%= link_to 'Destroy', plantilla_correo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plantilla Correo', new_plantilla_correo_path %>
