<p id="notice"><%= notice %></p>

<div class="ibox-content">
<%= link_to 'Informacion general', new_informacion_general_path, :class => "btn btn-primary btn-sm fa fa-plus" %>
 <br><br> 
 <table class="footable table table-stripped" data-sorting="true" data-filtering="true">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Rif</th>
        <th>Dirección</th>
        <th>Tlf</th>
        <th>Email</th>
        <th>Facebook</th>
        <th>Widgettw</th>
        <th>Slogan</th>
        <th>Logo</th>
        <th>Latitud</th>
        <th>Longitud</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
        <% @informacion_generals.each do |informacion_general| %>
          <tr>
            <td><%= informacion_general.nombre %></td>
            <td><%= informacion_general.rif %></td>
            <td><%= informacion_general.direccion %></td>
            <td><%= informacion_general.tlf %></td>
            <td><%= informacion_general.email %></td>
            <td><%= informacion_general.widgetFB %></td>
            <td><%= informacion_general.widgetTW %></td>
            <td><%= informacion_general.slogan %></td>
            <td><%= informacion_general.logo %></td>
            <td><%= informacion_general.latitud %></td>
            <td><%= informacion_general.longitud %></td>
            <td><%= link_to '', edit_polymorphic_url(inf), :class => "btn btn-warning btn-sm fa fa-pencil" %></td>
            <td><%= link_to 'Show', inf %></td>
            <td><%= link_to 'Edit', edit_inf_path(inf) %></td>
            <td><%= link_to 'Destroy', inf, method: :delete, data: { confirm: '¿Está seguro que desea eliminar la informacion?' } %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
                    <tr>
                        <td colspan="5">
                            <ul class="pagination pull-right"></ul>
                        </td>
                    </tr>
                    </tfoot>
  </table>
</div>
<br>


<script type="text/javascript">
$(document).ready(function(){
$('.table').footable();
});


</script>
