<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @informacion_general.nombre %>
</p>

<p>
  <strong>Rif:</strong>
  <%= @informacion_general.rif %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @informacion_general.direccion %>
</p>

<p>
  <strong>Tlf:</strong>
  <%= @informacion_general.tlf %>
</p>

<p>
  <strong>Email:</strong>
  <%= @informacion_general.email %>
</p>

<p>
  <strong>Widgetfb:</strong>
  <%= @informacion_general.widgetFB %>
</p>

<p>
  <strong>Widgettw:</strong>
  <%= @informacion_general.widgetTW %>
</p>

<p>
  <strong>Slogan:</strong>
  <%= @informacion_general.slogan %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @informacion_general.logo %>
</p>

<p>
  <strong>Latitud:</strong>
  <%= @informacion_general.latitud %>
</p>

<p>
  <strong>Longitud:</strong>
  <%= @informacion_general.longitud %>
</p>

<%= link_to 'Edit', edit_informacion_general_path(@informacion_general) %> |
<%= link_to 'Back', informacion_generals_path %>
