
<h1>Ocupaciones</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Estatus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ocupaciones.each do |ocupacion| %>
      <tr>
        <td><%= ocupacion.descripcion %></td>
        <td><%= ocupacion.estatus %></td>
        <td><%= link_to 'Show', ocupacion %></td>
        <td><%= link_to 'Edit', edit_ocupacion_path(ocupacion) %></td>
        <td><%= link_to 'Destroy', ocupacion, method: :delete, data: { confirm: '¿Está seguro que desea eliminar la ocupacion?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ocupacion', new_ocupacion_path %>
