<%= csrf_meta_tag %>

<div class="ibox-content">
<%= link_to @sectores.new.class.name, new_polymorphic_url(@sectores.new), :class => "btn btn-primary btn-sm" %>
 <br><br>                 
 <table class="footable table table-stripped" data-sorting="true" data-filtering="true">
    <thead>
      <tr>
        <th data-breakpoints="xs" data-type="number">Descripción</th>
        <th>Estatus</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @sectores.each do |sector| %>
        <tr>
          <td><%= sector.descripcion %></td>
          <td><%= sector.estatus %></td>
          <td>
            <%= link_to 'Editar', edit_polymorphic_url(sector), :class => "btn btn-warning btn-sm" %>
            <%= link_to 'Eliminar', sector, :method => :delete, data: { confirm: '¿Está seguro que desea eliminar el sector?' } , :class => "btn btn-danger btn-sm " %>            
          </td>
        </tr>
      <% end %>
    </tbody>
      <tfoot>
        <tr>
            <td colspan="5">
                <ul class="pagination pull-right"></ul>
            </td>
        </tr>
      </tfoot>
  </table>
</div>
<br>


<script type="text/javascript">
$(document).ready(function(){
$('.table').footable();
});

</script>

