<%= form_for(especialista) do |f| %>
  <% if especialista.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(especialista.errors.count, "error") %> prohibited this especialista from being saved:</h2>

      <ul>
      <% especialista.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :especialidad_id %>
    <%= f.text_field :especialidad_id %>
  </div>

  <div class="field">
    <%= f.label :descripcion %>
    <%= f.text_field :descripcion %>
  </div>

  <div class="field">
    <%= f.label :estatus %>
    <%= f.text_field :estatus %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
