<%= csrf_meta_tag %>

<div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h2 class="parametros-titulo"><%= "Especialistas" %></h2>
              </div>
          </div>
<div class="ibox-content">
<%= link_to 'Registrar', new_especialista_path, :class => "btn btn-primary btn-sm " %>
 <br><br> 
 <table class="footable table table-stripped" data-sorting="true" data-filtering="true">
    <thead>
      <tr>

        <th data-sorted="true">Especialidad</th>
        <th>Nombre y Apellido</th>
        <th colspan="1"></th>
      </tr>
    </thead>
    <tbody>
      <% @especialistas.each do |especialista| %>
          <tr>
            <td><%= especialista.especialidadesDescripcion%></td>
            <td><%= link_to especialista.persona.nombre, edit_especialista_path(especialista) %> <%= link_to especialista.persona.apellido, edit_especialista_path(especialista) %></td>
            <td>
              <%= link_to 'Editar', edit_especialista_path(especialista), :class => "btn btn-warning btn-sm " %>
              <%= link_to 'Eliminar', especialista, :method => :delete, data: { confirm: '¿Está seguro que desea eliminar el especialista?' } , :class => "btn btn-danger btn-sm" %></td>
          </tr>
      <% end %>
    </tbody>
      <tfoot>
                    <tr>
                        <td colspan="5">
                            <ul class="pagination pull-right"></ul>
                        </td>
                    </tr>
                    </tfoot>
  </table>
</div>
<br>


<script type="text/javascript">
$(document).ready(function(){
$('.table').footable();
});

</script>


