<p id="notice"><%= notice %></p>

<h1>Especialistas</h1>

<table>
  <thead>
    <tr>
      <th>Especialidad</th>
      <th>Descripcion</th>
      <th>Estatus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @especialistas.each do |especialista| %>
      <tr>
        <td><%= especialista.especialidad %></td>
        <td><%= especialista.descripcion %></td>
        <td><%= especialista.estatus %></td>
        <td><%= link_to 'Show', especialista %></td>
        <td><%= link_to 'Edit', edit_especialista_path(especialista) %></td>
        <td><%= link_to 'Destroy', especialista, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Especialista', new_especialista_path %>
