<%= csrf_meta_tag %>
<p id="notice"><%= notice %></p>

<div class="ibox-content">
<%= link_to 'Especialista', new_especialista_path, :class => "btn btn-primary btn-sm fa fa-plus" %>
 <br><br> 
 <table class="footable table table-stripped" data-sorting="true" data-filtering="true">
    <thead>
      <tr>
        <th data-sorted="true">Especialidades</th>
        <th>Apellidos</th>        
        <th>Nombres</th>
        <th>Descripcion</th>
        <th colspan="1"></th>
      </tr>
    </thead>
    <tbody>
      <% @especialistas.each do |especialista| %>
          <tr>
            <td><%= especialista.especialidadesDescripcion%></td>
            <td><%= link_to especialista.persona.nombre, edit_especialista_path(especialista) %></td>          
            <td><%= link_to especialista.persona.apellido, edit_especialista_path(especialista) %></td>
            <td>
              <%= link_to '', edit_especialista_path(especialista), :class => "btn btn-warning btn-sm fa fa-pencil" %>
              <%= link_to '', especialista, :method => :delete, data: { confirm: '¿Estás seguro?' } , :class => "btn btn-danger btn-sm fa fa-trash" %></td>
          </tr>
      <% end %>
    </tbody>
      <tfoot>
                    <tr>
                        <td colspan="5">
                            <ul class="pagination pull-right"></ul>
                        </td>
                    </tr>
                    </tfoot>
  </table>
</div>
<br>


<script type="text/javascript">
$(document).ready(function(){
$('.table').footable();
});

</script>


