<%= form_for(suscriptor) do |f| %>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, :required => true %>
  </div>

  <div class="field">
    <%= f.label :persona_id %>
    <%= f.text_field :persona_id %>
  </div>

  <div class="field">
    <%= f.label :estatus %>
    <%= f.number_field :estatus %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
