<div class="row">   
   <div class="col-lg-6 col-lg-offset-3">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h5><%= @parametro.class.name %></h5>
              </div>
          </div>
          <div class="ibox-content">
             <%= form_for @parametro, :html => {:class => 'form-horizontal'} do |f| %>
                  <% if @parametro.errors.any? %>
                    <div id="error_explanation">
                        <h2>
                          <%= pluralize(@parametro.errors.count, "error") %> prohibited this parametro from being saved:
                        </h2>
                      <ul>
                      <% @parametro.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>
                 
                 <div class="form-group"><label class="col-lg-2 control-label">Ciudad</label>
                    <div class="col-lg-10">
                      <%= f.collection_select :ciudad_id, Ciudad.all, :id, :descripcion, {prompt: "Seleccione"}, {class: "form-control"} %>
                     </div>
                  </div>
                  
                  <div class="form-group"><label class="col-lg-2 control-label">Sector</label>
                    <div class="col-lg-10">
                      <%= f.collection_select :sector_id, Sector.all, :id, :descripcion, {prompt: "Seleccione", :selected => @parametro.sector_id}, {class: "form-control"} %>
                     </div>
                  </div>
                  
                  <div class="form-group"><label class="col-lg-2 control-label">Tipo de ubicación</label>
                    <div class="col-lg-10">                        
                      <%= f.collection_select :tipo_ubicacion_id, TipoUbicacion.all, :id, :descripcion, {prompt: "Seleccione"}, {class: "form-control"} %>
                     </div>
                  </div>                    

                  <div class="form-group"><label class="col-lg-2 control-label">Descripción</label>
                      <div class="col-lg-10"><%= f.text_field :descripcion , :class => "form-control"%> 
                      </div>
                  </div>
                  
                  <div class="form-group">
                      <div class="col-lg-offset-2 col-lg-2">
                          <%= f.submit 'Guardar', :class => "btn btn-sm btn-primary" %>
                      </div>
                      <div class="col-lg-2">
                      <%= link_to 'Atras', ubicaciones_path, :class => "btn btn-sm btn-danger" %>                          
                      </div>
                  </div>
              <% end %>
          </div>
  </div>
</div>