<p id="notice"><%= notice %></p>

<h1>Ubicaciones</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Estatus</th>
      <th>Ciudad</th>
      <th>Tipo ubicacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ubicaciones.each do |ubicacion| %>
      <tr>
        <td><%= ubicacion.descripcion %></td>
        <td><%= ubicacion.estatus %></td>
        <td><%= ubicacion.ciudad %></td>
        <td><%= ubicacion.tipo_ubicacion %></td>
        <td><%= link_to 'Show', ubicacion %></td>
        <td><%= link_to 'Edit', edit_ubicacion_path(ubicacion) %></td>
        <td><%= link_to 'Destroy', ubicacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ubicacion', new_ubicacion_path %>
