<%= csrf_meta_tag %>
<br>
<div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h2 class="parametros-titulo"><%= "Ubicaciones" %></h2>
              </div>
          </div>

<div class="ibox-content">
<%= link_to "Registrar", new_polymorphic_url(@parametros.new), :class => "btn btn-primary btn-sm " %>
 <br><br>                 
 <table class="footable table table-stripped" data-sorting="true" data-filtering="true">
    <thead>
      <tr>
        <th data-sorted="true">Ciudad</th>
        <th>Sector</th>
        <th>Tipo de ubicación</th>
        <th data-breakpoints="xs">Descripción</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @parametros.each do |parametro| %>
        <tr>
          <td><%= parametro.ciudad.descripcion %></td>        
          <td><%= parametro.sector.descripcion %></td>
          <td><%= parametro.tipo_ubicacion.descripcion   %></td>
          <td><%= parametro.descripcion %></td>
          <td>
            <%= link_to 'Editar', edit_polymorphic_url(parametro), :class => "btn btn-warning btn-sm " %>
            <%= link_to 'Eliminar', parametro, :method => :delete, data: { confirm: '¿Está seguro que desea eliminar la ubicacion?' } , :class => "btn btn-danger btn-sm" %>
            
          </td>
        </tr>
      <% end %>
    </tbody>
      <tfoot>
        <tr>
            <td colspan="5">
                <ul class="pagination pull-right"></ul>
            </td>
        </tr>
      </tfoot>
  </table>
</div>
<br>


<script type="text/javascript">
$(document).ready(function(){
$('.table').footable();
});

</script>

