<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2 class="text-dark-blue"><strong><%= @parametros.new.class.titulo %></strong></h2>
      <ol class="breadcrumb">
        <li>
          <a href="<%= url_for :controller => 'home', :action => 'index' %>">Inicio</a>
        </li>
        <li class="active">
            <strong class="text-blue">Listado</strong>
        </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
      <div class="col-sm-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
              <h4 class="text-dark-blue">
                <strong>Listado: <%= @parametros.new.class.titulo %></strong>
              </h4>
          </div>
          <div class="ibox-content">
            <%= link_to "Registrar", new_polymorphic_url(@parametros.new), :class => "btn btn-primary btn-sm", style: 'position: absolute; z-index: 9999; margin-top: 10px;'%>
              
            <table class="footable table table-stripped" data-sorting="true" data-filtering="true">
              <thead>
                <tr>
                  <th data-sorted="true">Ciudad</th>
                  <th>Sector</th>
                  <th>Tipo de ubicación</th>
                  <th data-breakpoints="xs">Descripción</th>
                  <th colspan="1"></th>
                </tr>
              </thead>

              <tbody>
                <% @parametros.each do |parametro| %>
                  <tr>
                    <td><%= parametro.ciudad.descripcion %></td>        
                    <td><%= parametro.sector.descripcion %></td>
                    <td><%= parametro.tipo_ubicacion.descripcion   %></td>
                    <td><%= parametro.descripcion %></td>
                    <td>
                      <%= link_to 'Editar', edit_polymorphic_url(parametro), :class => "btn btn-warning btn-sm " %>
                      <%= link_to 'Eliminar', parametro, :method => :delete, data: { confirm: '¿Estás seguro?' } , :class => "btn btn-danger btn-sm" %>
                      
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>