<%= form_for(parentesco) do |f| %>

  <div class="field">
    <%= f.label :descripcion %>
    <%= f.text_field :descripcion, :required => true %>
  </div>

  <div class="field">
    <%= f.label :persona_id %>
    <%= f.text_field :persona_id %>
  </div>

  <div class="field">
    <%= f.label :pariente_id %>
    <%= f.text_field :pariente_id %>
  </div>

  <div class="field">
    <%= f.label :tipo_parentesco_id %>
    <%= f.text_field :tipo_parentesco_id %>
  </div>

  <div class="field">
    <%= f.label :estatus %>
    <%= f.number_field :estatus %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
