
<h1>Parentescos</h1>

<table>
  <thead>
    <tr>
      <th>Descripción</th>
      <th>Persona</th>
      <th>Pariente</th>
      <th>Tipo parentesco</th>
      <th>Estatus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parentescos.each do |parentesco| %>
      <tr>
        <td><%= parentesco.descripcion %></td>
        <td><%= parentesco.persona %></td>
        <td><%= parentesco.pariente %></td>
        <td><%= parentesco.tipo_parentesco %></td>
        <td><%= parentesco.estatus %></td>
        <td><%= link_to 'Show', parentesco %></td>
        <td><%= link_to 'Edit', edit_parentesco_path(parentesco) %></td>
        <td><%= link_to 'Destroy', parentesco, method: :delete, data: { confirm: '¿Está seguro que desea eliminar el parentesco?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parentesco', new_parentesco_path %>
