<%= form_for(formacion_academica) do |f| %>
  <% if formacion_academica.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(formacion_academica.errors.count, "error") %> prohibited this formacion_academica from being saved:</h2>

      <ul>
      <% formacion_academica.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descripcion %>
    <%= f.text_field :descripcion %>
  </div>

  <div class="field">
    <%= f.label :estatus %>
    <%= f.number_field :estatus %>
  </div>

  <div class="field">
    <%= f.label :nivel_formacion_id %>
    <%= f.text_field :nivel_formacion_id %>
  </div>

  <div class="form-group">
                      <div class="col-lg-offset-3 col-lg-2">
                           <%= f.submit "Guardar", :class => "btn btn-sm btn-primary" %>
                      </div>
                        <div class="col-lg-2">
                        <%= link_to 'Limpiar', '', type: :reset, :class => "btn btn-sm btn-warning " %>                          
                        </div>
                      <div class="col-lg-2">
                      <%= link_to 'Atras',formacion_academicas_path, :class => "btn btn-sm btn-success" %>                          
                      </div>
                  </div>
<% end %>
