<p id="notice"><%= notice %></p>

<h1>Personas</h1>

<table>
  <thead>
    <tr>
      <th>Cedula</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Telefono</th>
      <th>Direccion</th>
      <th>Fecha nacimiento</th>
      <th>Sexo</th>
      <th>Edad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @personas.each do |persona| %>
      <tr>
        <td><%= persona.cedula %></td>
        <td><%= persona.nombre %></td>
        <td><%= persona.apellido %></td>
        <td><%= persona.telefono %></td>
        <td><%= persona.direccion %></td>
        <td><%= persona.fecha_nacimiento %></td>
        <td><%= persona.sexo %></td>
        <td><%= persona.edad %></td>
        <td><%= link_to 'Registrar Cuenta', new_usuario_registration_path, :persona_id => persona.id  %></td>
        <td><%= link_to 'Edit', edit_persona_path(persona) %></td>
        <td><%= link_to 'Destroy', persona, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Persona', new_persona_path %>
