<%= csrf_meta_tag %>
<br>
<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h2 class="parametros-titulo"><%= @personas.new.class.titulo %></h2>
  </div>
</div>
<div class="ibox-content">
  <%= link_to "Registrar", new_polymorphic_url(@personas.new), :class => "btn btn-primary btn-sm"%>
  <br><br>
  <table class="footable table table-stripped" data-sorting="true" data-filtering="true">
    <thead>
    <tr>
      <th data-breakpoints="xs" data-sorted="true">Cedula</th>
      <th>Nombre y Apellido</th>
      <th>Teléfono</th>
      <th>Dirección</th>
      <th>Fecha nacimiento</th>
      <th>Sexo</th>
      <th colspan="2"></th>
      <th colspan="2"></th>
      <th colspan="2"></th>
    </tr>
    </thead>
    <tbody>
    <% @personas.each do |persona| %>
        <tr>

          <td><%= link_to persona.cedula, edit_polymorphic_url(persona) %></td>
          <td><%= persona.nombre %> <%= persona.apellido %></td>
          <td><%= persona.telefono %></td>
          <td><%= persona.direccion %></td>
          <td><%= persona.fecha_nacimiento %></td>
          <td><%= persona.sexo.descripcion %></td>
          <td><%= link_to 'Registrar Cuenta', new_usuario_registration_path, :persona_id => persona.id  %></td>
          <td><%= link_to 'Editar', edit_persona_path(persona) %></td>
          <td><%= link_to 'Eliminar', persona, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="5">
        <ul class="pagination pull-right"></ul>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
<br>


<script type="text/javascript">
  $(document).ready(function(){
    $('.table').footable();
  });

</script>





