<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2 class="text-dark-blue"><strong><%= @personas.new.class.titulo %></strong></h2>
      <ol class="breadcrumb">
        <li>
          <a href="<%= url_for :controller => 'home', :action => 'index' %>">Inicio</a>
        </li>
        <li class="active">
            <strong class="text-blue">Listado</strong>
        </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-sm-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h4 class="text-dark-blue"><strong>Listado: <%= @personas.new.class.titulo %></strong></h4>
        </div>
        <div class="ibox-content">
          <%= link_to "Registrar", new_persona_path, :class => "btn btn-primary btn-sm", style: 'position: absolute; z-index: 9999; margin-top: 10px;'%>
          <table class="footable table table-stripped" data-sorting="true" data-filtering="true">
    <thead>
    <tr>
      <th data-breakpoints="xs" data-sorted="true">Cédula</th>
      <th>Nombre y Apellido</th>
      <th>Teléfono</th>
      <th>Dirección</th>
      <th>Fecha nacimiento</th>
      <th>Sexo</th>
      <th colspan="2"></th>
      <th colspan="2"></th>
    </tr>
    </thead>
    <tbody>
    <% @personas.each do |persona| %>
        <tr>

          <td><%= link_to persona.cedula, edit_polymorphic_url(persona) %></td>
          <td><%= persona.nombre %> <%= persona.apellido %></td>
          <td><%= persona.telefono %></td>
          <td><%= persona.direccion %></td>
          <td><%= persona.fecha_nacimiento.strftime("%d/%m/%Y") %></td>
          <td><%= persona.sexo.descripcion %></td>
          <td><%= link_to 'Editar', edit_persona_path(persona), :class => "btn btn-warning btn-sm " %></td>
        </tr>
    <% end %>

    </tbody>
    </table>
        </div>
      </div>
    </div>
  </div>
</div>
  