<p id="notice"><%= notice %></p>

<p>
  <strong>Cedula:</strong>
  <%= @persona.cedula %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @persona.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @persona.apellido %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @persona.telefono %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @persona.direccion %>
</p>

<p>
  <strong>Fecha nacimiento:</strong>
  <%= @persona.fecha_nacimiento %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @persona.sexo.descripcion %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @persona.edad %>
</p>

<%= link_to 'Edit', edit_persona_path(@persona) %> |
<%= link_to 'Back', personas_path %>
