<%= form_for(rol) do |f| %>
  <% if rol.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rol.errors.count, "error") %> prohibited this rol from being saved:</h2>

      <ul>
      <% rol.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descripcion %>
    <%= f.text_field :descripcion %>
  </div>

  <div class="field">
    <%= f.label :descripcion %>
    <% @options.each do |opcion| %>
    <div>
      <%= check_box_tag "option_menus[]",  opcion.id %> <%= opcion.nombre %>
    </div>
    <% end %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
