<%= form_for(discapacidad) do |f| %>
  <% if discapacidad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(discapacidad.errors.count, "error") %> prohibited this discapacidad from being saved:</h2>

      <ul>
      <% discapacidad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descripcion %>
    <%= f.text_field :descripcion %>
  </div>

  <div class="field">
    <%= f.label :estatus %>
    <%= f.number_field :estatus %>
  </div>

  <div class="field">
    <%= f.label :TipoDiscapacidad_id %>
    <%= f.text_field :TipoDiscapacidad_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
