<%= form_for(ciudad) do |f| %>

  <div class="field">
    <%= f.label :descripcion %>
    <%= f.text_field :descripcion, :required => true %>
  </div>

  <div class="field">
    <%= f.label :estatus %>
    <%= f.number_field :estatus %>
  </div>

  <div class="field">
    <%= f.label :estado_id %>
    <%= f.text_field :estado_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
