
<h1>Ciudades</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Estatus</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ciudades.each do |ciudad| %>
      <tr>
        <td><%= ciudad.descripcion %></td>
        <td><%= ciudad.estatus %></td>
        <td><%= ciudad.estado %></td>
        <td><%= link_to 'Show', ciudad %></td>
        <td><%= link_to 'Edit', edit_ciudad_path(ciudad) %></td>
        <td><%= link_to 'Destroy', ciudad, method: :delete, data: { confirm: '¿Está seguro que desea eliminar la ciudad?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ciudad', new_ciudad_path %>
