   <div class="col-lg-6 col-lg-offset-3">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h5>Especialidad</h5>
                  </div>
              </div>
              <div class="ibox-content">
                 <%= form_for @especialidad, :html => {:class => 'form-horizontal'} do |f| %>
                      <% if @especialidad.errors.any? %>
                        <div id="error_explanation">
                          <h2><%= pluralize(@especialidad.errors.count, "error") %> prohibited this especialidad from being saved:</h2>

                          <ul>
                          <% @especialidad.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                          <% end %>
                          </ul>
                        </div>
                      <% end %>
                     
                      <div class="form-group"><label class="col-lg-2 control-label">Codigo</label>

                          <div class="col-lg-10"><%= f.text_field :codigo , :class => "form-control"%> <span class="help-block m-b-none">autogenerado</span>
                          </div>
                      </div>
                      <div class="form-group"><label class="col-lg-2 control-label">Nombre</label>

                          <div class="col-lg-10"><%= f.text_field :nombre, :class => "form-control" %>
                           </div>
                        </div>
                       <div class="form-group"><label class="col-lg-2 control-label">Estatus</label>

                          <div class="col-lg-10"><%= f.text_field :estatus, :class => "form-control" %>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-lg-offset-2 col-lg-10">
                              <%= f.submit 'Guardar', :class => "btn btn-sm btn-white" %>
                             
                          </div>
                      </div>
                  <% end %>
              </div>

           

