<p id="notice"><%= notice %></p>
<div class="ibox-title">
    <h5>Basic Data Tables example with responsive plugin</h5>
</div>
<div class="ibox-content">
<%= link_to 'Nueva Especialidad', new_especialidad_path , :class => "btn btn-primary btn-sm fa fa-plus" %>
 <br><br> 
                 <input type="text" class="form-control input-sm m-b-xs" id="filter"
                       placeholder="Search in table">
 <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="2">
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Estatus</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @especialidads.each do |especialidad| %>
        <tr>
          <td><%= especialidad.codigo.upcase %></td>
          <td><%= especialidad.nombre.upcase %></td>
          <td><%= especialidad.estatus %></td>
          <td><%= link_to '', edit_especialidad_path(especialidad), :class => "btn btn-warning btn-sm fa fa-pencil" %>
          <%= link_to '', especialidad, method: :delete, data: { confirm: '¿Estás seguro?' } , :class => "btn btn-danger btn-sm fa fa-trash" %></td>
        </tr>
      <% end %>
    </tbody>
      <tfoot>
                    <tr>
                        <td colspan="5">
                            <ul class="pagination pull-right"></ul>
                        </td>
                    </tr>
                    </tfoot>
  </table>
</div>
<br>


<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    $('.footable').footable();
    $('.footable2').footable();


});

</script>

<% end %>
