<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @especialidad.codigo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @especialidad.nombre %>
</p>

<p>
  <strong>Estatus:</strong>
  <%= @especialidad.estatus %>
</p>

<%= link_to 'Edit', edit_especialidad_path(@especialidad) %> |
<%= link_to 'Back', especialidads_path %>
