<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2 class="text-dark-blue"><strong><%= @configuracion.class.titulo %></strong></h2>
      <ol class="breadcrumb">
        <li>
          <a href="<%= url_for :controller => 'home', :action => 'index' %>">Inicio</a>
        </li>
        <li class="active">
          <% if @configuracion.new_record? %>
            <strong class="text-blue">Registrar <%= @configuracion.class.titulo %></strong>
          <% else %>
            <strong class="text-blue">Editar <%= @configuracion.class.titulo %></strong>
          <% end %>
        </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content">
  <div class="row">   
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h4 class="text-dark-blue"><strong><%= @configuracion.class.titulo %></strong></h4>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-sm-12">
              <%= form_for @configuracion, :html => {:id => 'form-generic'}, :form_to_validate => @configuracion.class, role: 'form' do |f| %>
                <div class="form-group">
                  <label class="control-label">Envio de correos: <label for="<%= @configuracion.class.name.underscore %>_envio_de_correos" class="control-label error" style="margin-bottom: 0px;"></label></label>
                  <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                          <%= f.radio_button(:envia_email, 1) %>
                          <%= label_tag(:envia_email_si, "Si") %>
                          
                        </div>
                        <div class="col-sm-6">
                          <%= f.radio_button(:envia_email, 2) %>
                          <%= label_tag(:envia_email_si, "No") %>
                        </div>
                    </div>
                  </div>
                  
                </div>
                <div class="form-group">
                  <label class="control-label">Envio de notificaciones: <label for="<%= @configuracion.class.name.underscore %>_envio_de_correos" class="control-label error" style="margin-bottom: 0px;"></label></label>
                  <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                          <%= f.radio_button(:envia_notificaciones, 1) %>
                          <%= label_tag(:envia_notificaciones_si, "Si") %>
                          
                        </div>
                        <div class="col-sm-6">
                          <%= f.radio_button(:envia_notificaciones, 2) %>
                          <%= label_tag(:envia_notificaciones_si, "No") %>
                        </div>
                    </div>
                  </div>
                  
                </div>
                <div class="form-group">
                  <div class="col-lg-offset-3 col-lg-2">
                    <%= f.submit "Guardar", :class => "btn btn-sm btn-primary" %>
                  </div>
                  <% if (@configuracion.new_record?) %>
                    <div class="col-lg-2">
                      <%= link_to 'Limpiar', '', type: :reset, :class => "btn btn-sm btn-warning " %>                          
                    </div>
                  <% end %>
                  <div class="col-lg-2">
                    <%= link_to 'Atrás', "/", :class => "btn btn-sm btn-success" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">

    $('#form-generic').validate({
      rules: {
        '<%= @configuracion.class.to_s.underscore %>[descripcion]': {  
            required: true,
            solo_letras: true
        }
      }
    });

  </script>
<% end %>
