<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
  <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h2 class="parametros-titulo"><%= "Mi Perfil" %></h2>
              </div>
          </div>
    <div class="ibox-content">
      <%= form_for '/perfil', :html => {:class => 'form-horizontal'} do |f| %>
          <% if @usuario.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this parametro from being
                  saved:</h2>

                <ul>
                  <% @usuario.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>
          <%= hidden_field_tag :usuario_id, @usuario.id %>
        
            <%= render 'personas/datos_persona', persona: @persona %>


         
                  
      <% end %>
    </div>
  </div>
</div>



<div class="row">   
   <div class="col-lg-6 col-lg-offset-3">
   <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h2 class="parametros-titulo"><%= "Evento" %></h2>
              </div>
          </div>
          <div class="ibox-content">
            
                  <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#datos">Datos Básicos</a></li>
                    <li><a data-toggle="tab" href="#texto">Cuenta</a></li>
                  </ul>

                  <div class="tab-content">

                  
                    <div id="datos" class="tab-pane fade in active">

                     <%= render 'personas/datos_persona', persona: @persona %>  
                      <div class="form-group">
                      <div class="col-lg-offset-3 col-lg-2">
                           <%= f.submit "Guardar", :class => "btn btn-sm btn-primary" %>
                      </div>
                        <div class="col-lg-2">
                        <%= link_to 'Limpiar', '', type: :reset, :class => "btn btn-sm btn-warning " %>                          
                        </div>
                      <div class="col-lg-2">
                      <%= link_to 'Atras', '/citas', :class => "btn btn-sm btn-success" %>                          
                      </div>
                  </div>

                     </div>

                  </div>

                </div>

            
            </div>

                    <div id="texto" class="tab-pane fade in">



<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <p>
      <%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %>
    </p>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes') %>)</i><br />
    <%= f.password_field :current_password %>
  </div>

  <div><%= f.submit t('.update') %></div>
<% end %>

           
                  
  </div>
</div>

