<div class="row">   
   <div class="col-lg-6 col-lg-offset-3">
   <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h2 class="parametros-titulo"><%= "Usuarios" %></h2>
              </div>
          </div>
          <div class="ibox-content">
             <%= form_for @usuario,  :url => '/usuarios/guardar', method: "post",:html => {:class => 'form-horizontal'} do |f| %>
                  <% if @usuario.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this parametro from being saved:</h2>

                      <ul>
                      <% @usuario.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>


                 <div class="m-t" >
                   <div class="row">
                          <div class="row form-group">
                            <label class="col-lg-2 control-label">Correo</label>

                              <div class="col-lg-10">  <%= f.email_field :email, autofocus: true, placeholder: "usuario@correo.com", class: "form-control", :required => true %>
                              </div>
                            </div>           
                         <br>
                         <div class="row form-group">
                              <label class="col-lg-2">Persona</label>
                              <div class="col-lg-10"><%= f.collection_select(:persona_id, @personas, :id, :nombre_identificacion,{:prompt => "Seleccione la persona asociada al usuario"}, {:class => "form-control", :required => true} )%></div>
                          </div>
                          <script type="text/javascript">
                                $(document).ready(function() {
                                  $("#usuario_persona_id").select2();
                                });
                                </script> 
            
                          <div class="row form-group">
                              <label class="col-lg-2">Rol</label>
                              <div class="col-lg-10"><%= f.collection_select(:rol_id, @roles, :id, :descripcion,{}, :class => "form-control", :required => true )%></div>
                          </div>

                          <div class="row form-group">
                              <label class="col-lg-2">Servicio asociado</label>
                              <div class="col-lg-10"><%= f.collection_select(:servicio_id, @servicios, :id, :descripcion,{:prompt => "Sin servicio asociado"}, {:class => "form-control"} )%></div>
                          </div>

                   </div>
                  
                   <div class="row">
                    <div class="form-group">
                     <br>
                          <div class="col-lg-offset-3 col-lg-2">
                               <%= f.submit "Guardar", :class => "btn btn-sm  btn-primary" %>
                          </div>
                            <div class="col-lg-2">
                            <%= link_to 'Limpiar', '', type: :reset, :class => "btn btn-sm btn-warning " %>                          
                            </div>
                          <div class="col-lg-2">
                          <%= link_to 'Atras',usuarios_path, :class => "btn btn-sm btn-success" %>                          
                          </div>
                      </div>
                    </div>
                  </div>
              
                  
                 

              <% end %>
  </div>
</div>
</div>
