
<h1>Paises</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Estatus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paises.each do |pais| %>
      <tr>
        <td><%= pais.descripcion %></td>
        <td><%= pais.estatus %></td>
        <td><%= link_to 'Show', pais %></td>
        <td><%= link_to 'Edit', edit_pais_path(pais) %></td>
        <td><%= link_to 'Destroy', pais, method: :delete, data: { confirm: '¿Está seguro que desea eliminar el pais?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pais', new_pais_path %>
