<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @pais.descripcion %>
</p>

<p>
  <strong>Estatus:</strong>
  <%= @pais.estatus %>
</p>

<%= link_to 'Edit', edit_pais_path(@pais) %> |
<%= link_to 'Back', paises_path %>
