<%= form_for(cita) do |f| %>

  <div class="field">
    <%= f.label :turno_id %>
    <%= f.text_field :turno_id %>
  </div>

  <div class="field">
    <%= f.label :persona_id %>
    <%= f.text_field :persona_id %>
  </div>

  <div class="field">
    <%= f.label :usuario_id %>
    <%= f.text_field :usuario_id %>
  </div>

  <div class="field">
    <%= f.label :fecha %>
    <%= f.datetime_select :fecha %>
  </div>

  <div class="field">
    <%= f.label :tipo_pago_id %>
    <%= f.text_field :tipo_pago_id %>
  </div>



  <div class="field">
    <%= f.label :estatus %>
    <%= f.number_field :estatus %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
