<%= form_for(habito) do |f| %>


  <div class="field">
    <%= f.label :descripcion %>
    <%= f.text_field :descripcion, required: => true %>
  </div>

  <div class="field">
    <%= f.label :estatus %>
    <%= f.number_field :estatus %>
  </div>

  <div class="field">
    <%= f.label :TipoHabito_id %>
    <%= f.collection_select(:TipoHabito_id, @tipoHabitos, :id, :descripcion) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
