<%= form_for(sexo) do |f| %>

  <div class="field">
    <%= f.label :decripcion %>
    <%= f.text_field :decripcion, :required => true %>
  </div>

  <div class="field">
    <%= f.label :estatus %>
    <%= f.text_field :estatus %>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
