<%= form_for(sexo) do |f| %>
  <% if sexo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sexo.errors.count, "error") %> prohibited this sexo from being saved:</h2>

      <ul>
      <% sexo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :decripcion %>
    <%= f.text_field :decripcion %>
  </div>

  <div class="field">
    <%= f.label :estatus %>
    <%= f.text_field :estatus %>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
