
<h1>Sexos</h1>

<table>
  <thead>
    <tr>
      <th>Decripcion</th>
      <th>Estatus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sexos.each do |sexo| %>
      <tr>
        <td><%= sexo.decripcion %></td>
        <td><%= sexo.estatus %></td>
        <td><%= link_to 'Show', sexo %></td>
        <td><%= link_to 'Edit', edit_sexo_path(sexo) %></td>
        <td><%= link_to 'Destroy', sexo, method: :delete, data: { confirm: '¿Está seguro que desea eliminar el sexo?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sexo', new_sexo_path %>
