<%= csrf_meta_tag %>
<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h2 class="parametros-titulo"><%= @parametros.new.class.titulo %></h2>
  </div>
</div>
<div class="ibox-content">
  <%= link_to "Registrar", new_polymorphic_url(@parametros.new), :class => "btn btn-primary btn-sm"%>
  <br><br>
  <table class="footable table table-stripped" data-sorting="true" data-filtering="true">
    <thead>
    <tr>
      <th data-breakpoints="xs" data-sorted="true">País</th>
      <th>Descripción</th>
      <th colspan="1"></th>
    </tr>
    </thead>
    <tbody>
    <% @parametros.each do |parametro| %>
        <tr>
          <td><%= parametro.tipo.descripcion %></td>
          <td><%= link_to parametro.descripcion, edit_polymorphic_url(parametro) %></td>
          <td>
            <%= link_to 'Editar', edit_polymorphic_url(parametro), :class => "btn btn-warning btn-sm " %>
            <%= link_to 'Eliminar', polymorphic_url(parametro), :method => :delete, data: { confirm: '¿Está seguro que desea eliminar el estado?' } , :class => "btn btn-danger btn-sm"%></td>
        </tr>
    <% end %>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="5">
        <ul class="pagination pull-right"></ul>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
<br>


<script type="text/javascript">
  $(document).ready(function(){
    $('.table').footable();
  });

</script>


