<div class="row">   
  <div class="col-lg-10 col-lg-offset-1">
<div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h2 class="parametros-titulo"><%= "Turno" %></h2>
              </div>
          </div>
  
    <div class="ibox-content">

      <%= form_for @turno, :html => {:class => 'form-horizontal'}  do |f| %>
      <% if turno.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(turno.errors.count, "error") %> prohibited this turno from being saved:</h2>

        <ul>
          <% turno.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

     <div class="field form-group"><label class="col-lg-3 control-label">Tipo Turno</label>
                    <div class="col-lg-8"><%= f.collection_select(@referencia_tipo, @collection_tipo_turno,:id, :descripcion,{}, :class =>"form-control") %></div>
                  </div>

      <div class="form-group"><label class="col-lg-3 control-label">Hora Inicio</label>           
          <div class="col-lg-8"><%= f.text_field :hora_inicio, :class => "form-control" %></div>
      </div>
   <div class="form-group"><label class="col-lg-3 control-label">Hora Fin</label>           
          <div class="col-lg-8"><%= f.text_field :hora_fin, :class => "form-control" %></div>
      </div>
    
      <div class="field form-group"><label class="col-lg-3 control-label">codigo Horario :(viene por defecto)</label>
                    <div class="col-lg-8"><%= f.collection_select(@referencia, @horarios, :id, :id,{}, :class =>"form-control") %></div>
      </div>  
      <div class="field form-group"><label class="col-lg-3 control-label">Cantidad de pacientes</label>
      <div class="col-lg-8"><%= f.text_field :cantidad_pacientes, :class => "form-control" %></div>
      </div>

      <div class="form-group"><label class="col-lg-3 control-label">Dias</label>           
          <div class="col-lg-8"> <% @dias.each do |dia| %>
            <%= check_box_tag"dias[]", dia.id%> <%= dia.descripcion%><% end %>
          </div>
      </div>

      
          
                <div class="form-group">
                      <div class="col-lg-offset-3 col-lg-2">
                           <%= f.submit "Guardar", :class => "btn btn-primary" %>
                      </div>
                        <div class="col-lg-2">
                        <%= link_to 'Limpiar', '', type: :reset, :class => "btn btn-sm btn-warning " %>                          
                        </div>
                      <div class="col-lg-2">
                      <%= link_to 'Atras',turnos_path, :class => "btn btn-sm btn-success" %>                          
                      </div>
                  </div>
        <% end %>

    </div>
  </div>
</div>



<script type="text/javascript">
            $(function () {
                $('#turno_hora_inicio').datetimepicker({
                    format: 'LT'
                });
            });
               $(function () {
                $('#turno_hora_fin').datetimepicker({
                 format: 'LT'
                });
            });
        </script>