

<%= csrf_meta_tag %>
<p id="notice"><%= notice %></p>
<div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h2 class="parametros-titulo"><%= "Turnos" %></h2>
              </div>
          </div>
<div class="ibox-content">
<%= link_to link_to 'Registar', new_turno_path , :class => "btn btn-primary btn-sm" %>
 <br><br> 
 <table class="footable table table-stripped" data-sorting="true" data-filtering="true">
    <thead>
      <tr>
        <th>Día</th>
        <th>Hora Inicio</th>
        <th>Hora Fin</th>
        <th>Servicio</th>
        <th colspan="1"></th>
      </tr>
    </thead>
    <tbody>
      <% @turnos.each do |turno| %>
          <tr>
        <td><%= turno.tipodia.descripcion %></td>
        <td><%= turno.hora_inicio.strftime("%H:%M") %></td>
        <td><%= turno.hora_fin.strftime("%H:%M") %></td>

        <td><%= turno.horario.id %></td>
            <td>
             <%= link_to 'Editar', edit_polymorphic_url(turno), :class => "btn btn-warning btn-sm " %>
             <%= link_to 'Eliminar', turno, :method => :delete, data: { confirm: '¿Estás seguro?' } , :class => "btn btn-danger btn-sm " %></td>
          </tr>
      <% end %>
    </tbody>
      <tfoot>
                    <tr>
                        <td colspan="5">
                            <ul class="pagination pull-right"></ul>
                        </td>
                    </tr>
                    </tfoot>
  </table>
</div>
<br>


<script type="text/javascript">
$(document).ready(function(){
$('.table').footable();
});

</script>

