<p id="notice"><%= notice %></p>

<h1>Turnos</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Hora inicio</th>
      <th>Hora fin</th>
      <th>Estatus</th>
      <th>Dia</th>
      <th>Horario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @turnos.each do |turno| %>
      <tr>
        <td><%= turno.descripcion %></td>
        <td><%= turno.hora_inicio %></td>
        <td><%= turno.hora_fin %></td>
        <td><%= turno.estatus %></td>
        <td><%= turno.tipodia.descripcion %></td>
        <td><%= turno.horario.descripcion %></td>
        <td><%= link_to 'Show', turno %></td>
        <td><%= link_to 'Edit', edit_turno_path(turno) %></td>
        <td><%= link_to 'Destroy', turno, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Turno', new_turno_path %>
