<%= form_for(notificacion) do |f| %>
  <% if notificacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(notificacion.errors.count, "error") %> prohibited this notificacion from being saved:</h2>

      <ul>
      <% notificacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descripcion %>
    <%= f.text_field :descripcion %>
  </div>

  <div class="field">
    <%= f.label :estatus %>
    <%= f.number_field :estatus %>
  </div>

  <div class="field">
    <%= f.label :tipo_notificacion_id %>
    <%= f.text_field :tipo_notificacion_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
