
<h1>Notificaciones</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Estatus</th>
      <th>Tipo notificacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notificaciones.each do |notificacion| %>
      <tr>
        <td><%= notificacion.descripcion %></td>
        <td><%= notificacion.estatus %></td>

        <td><%= link_to 'Show', notificacion %></td>
        <td><%= link_to 'Edit', edit_notificacion_path(notificacion) %></td>
        <td><%= link_to 'Destroy', notificacion, method: :delete, data: { confirm: '¿Está seguro que desea eliminar la notificacion?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notificacion', new_notificacion_path %>
