<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @tipo_difusion.descripcion %>
</p>

<p>
  <strong>Estatus:</strong>
  <%= @tipo_difusion.estatus %>
</p>

<%= link_to 'Edit', edit_tipo_difusion_path(@tipo_difusion) %> |
<%= link_to 'Back', tipo_difusiones_path %>
