<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @referencia.descripcion %>
</p>

<p>
  <strong>Estatus:</strong>
  <%= @referencia.estatus %>
</p>

<%= link_to 'Edit', edit_referencia_path(@referencia) %> |
<%= link_to 'Back', referencias_path %>
