 <% if usuario_signed_in? %>
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                <%= image_tag "alice-horizontal1.png" , :style => " max-width: 150px; max-heigth: 70px;" %>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">Alicia Trinidad</strong>
                            </span> <span class="text-muted text-xs block"><%= current_usuario.rol.descripcion %><b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="#">Editar Perfil</a></li>
                        <li><a href="#">Cerrar Sesión</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    <%= image_tag "alice_sq.png" , :style => " max-width: 50px; max-heigth: 50px;" %>
                </div>
            </li>
            <li class="<%= 'active' if current_page?('/') %>">
                <%= link_to "/" do %>
                <i class="fa fa-laptop"></i> <span class="nav-label">Inicio</span>
                <% end %>
            </li>
             <!-- Navigation Menu -->
            <%= render 'layouts/navigation-menu' %>
        </ul>

    </div>
</nav>
<% end %>