<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Alice | Administrador</title>

    <%= stylesheet_link_tag 'application' if ::Rails.application.assets.find_asset("application.css") %>
    <!-- Include style per-controller - vendor plugins -->
    <%= stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css") %>
        
    <!-- Main javascript files -->
    <%= javascript_include_tag 'application' if ::Rails.application.assets.find_asset("application.js") %>
    <%= csrf_meta_tags %>

</head>
<body class="skin-1">
    <!-- Wrapper-->
    <div id="wrapper">

        <!-- Navigation -->
        <%= render 'layouts/navigation' %>

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg">
     
            <!-- Page wrapper -->
            <%= render 'layouts/topnavbar' %>
            <% unless flash.empty? %>
              <script type="text/javascript">
                  <% flash.each do |f| %>
                  <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'success').gsub('warning','warning').gsub('info','info') %>
                     toastr['<%= type %>']('<%= f[1] %>');
                  <% end %>
              </script>
             <% end %>
            <!-- Main view  -->
            <%= yield %>


            <!-- Footer -->
            <%= render 'layouts/footer' %>

        </div>
        <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->
        <!-- Main javascript files -->
        <%= javascript_include_tag 'style' if ::Rails.application.assets.find_asset("style.js") %>
        <!-- Include javascript per-controller - vendor plugins -->
        <%= javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js") %>

        <!-- Include javascript per-view -->
        <!-- For demo purpose we include javascript in view but you can easily start SeedProject and organize it with Rails asset pipeline as you want -->
        <%= yield :javascript %>
</body>


</html>
